@import "src/styles/_mixins";
@import "src/styles/_vars";


:global(.swiper).wrapper {
  width: 100%;

  @include media-breakpoint-up(lg) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% + 30px);
  }

  @include media-breakpoint-down(lg) {
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-right: -2rem;
    -webkit-overflow-scrolling: touch;

    :global(.swiper-wrapper) {
      padding: {
        left: 2rem;
        right: 2rem;
      };
      scroll-padding: {
        left: 2rem;
      };

      &::after {
        content: '';
        display: block;
        padding-right: 4rem;
      }
    }
  }

  :global(.swiper-wrapper) {
    :global(.swiper-slide) {


      @include media-breakpoint-up(lg) {
        padding-bottom: 8rem;
        padding-top: 1rem;
      }

      @include media-breakpoint-down(lg) {
        padding-top: 1.5rem;
        padding-bottom: 1.6rem;
      }
    }
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    visibility: visible;
    opacity: 1;
    transition: .3s;
  }

  :global(.swiper-button-disabled) {
    visibility: hidden;
    opacity: 0;
  }

  :global(.swiper-button-prev) {
    left: calc(11.5px + 1.2rem);
    top: 45%;
  }

  :global(.swiper-button-next) {
    right: calc(11.5px + 1.2rem);
    top: 45%;
  }

  @include media-breakpoint-down(lg) {
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      display: none;
    }
  }

}

.skeleton {
  grid-gap: 1.4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
