@import "src/styles/_mixins";
@import "src/styles/_vars";

.section {
  grid-gap: 10rem;

  @include media-breakpoint-down(lg) {
    grid-gap: 1.6rem;
  }

}

.skeleton {
  grid-gap: 10rem;
  margin: 4rem 0;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    grid-gap: 0;
  }
}

.skeletonHeader {
  display: flex;
  width: 34.6rem;
  min-height: 3.9rem;
  flex: 1;

  @include media-breakpoint-down(lg) {
    margin-bottom: 2rem;
    width: 100%;
  }
}

.skeletonContent {
  display: flex;
  width: 100%;
  flex: 4;
  min-height: 44rem;
}
