@import "src/styles/_mixins";
@import "src/styles/_vars";

%mobileOutsidePadding {
  @include media-breakpoint-down(lg) {
    padding: {
      left: 2rem;
      right: 2rem;
    };
  }
}

%gridFullWidthOneColumn {
  display: grid;
  grid-template-columns: 100%;
}

.container {
  display: flex;
  width: 100%;
  position: relative;

  @include media-breakpoint-down(lg) {
    padding: 0;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 17.6rem;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.wrapper {
  max-width: 70rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;

  @include media-breakpoint-up(lg) {
    padding: {
      bottom: 2.4rem;
    };
  }
}

.form {
  @include media-breakpoint-down(lg) {
    display: none;
  }

  &AdvancedSearch {

  }
}

.suggestions {
  display: flex;
  align-items: center;

  @extend %mobileOutsidePadding;

  @include media-breakpoint-up(lg) {
    padding: 1.2rem 0;
    border-bottom: 1px solid $color-light-5;
  }

  @include media-breakpoint-down(lg) {
    background: $color-light-3;
    flex-direction: column;
    align-items: flex-start;
    padding: {
      top: .8rem;
      bottom: .8rem;
    };
  }

  &Item,
  &ItemInstead {
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color: $color-secondary-text-2;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
      line-height: 2.0rem;
    }

    span {
      font: {
        weight: 700;
      }
    }

    &:not(:last-child) {
      margin: {
        right: 2.4rem;
      };
    }
  }

  &ItemInstead {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.label {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: $color-tertiary-text-3;
}

.aside {
  @extend %gridFullWidthOneColumn;

  align-items: flex-start;
  grid-gap: 2.2rem;
  padding: 0 1.2rem 0 0;
  width: 20.6rem;

  @include media-breakpoint-up(lg) {
    border-right: 1px solid $color-light-5;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    border-bottom: 1px solid $color-light-5;
    padding: 2rem 0;
  }

  ~ .main {
    @include media-breakpoint-up(lg) {
      padding: 0 0 0 2.3rem;
    }
  }

  &Group {
    @extend %gridFullWidthOneColumn;
    @extend %mobileOutsidePadding;

    grid-gap: .6rem;
  }

  &Header {
    padding: {
      bottom: .2rem;
    };
  }

  &Item {
    cursor: pointer;
    color: $color-accent;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-primary;
    }

    &Icon {
      width: 2.4rem;
      height: 2.4rem;
      margin: {
        right: .4rem;
      };
    }

    &Text {
      font-size: 1.4rem;
      line-height: 2.2rem;
      letter-spacing: -0.02em;
    }

  }
}

.main {
  @extend %gridFullWidthOneColumn;

  flex: 1;
  grid-gap: 2.4rem;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: calc(100% - 20.6rem);
  }

  @include media-breakpoint-down(lg) {
    padding: {
      bottom: 2rem;
    };
  }

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: {
      bottom: 1.2rem;
    };

    @extend %mobileOutsidePadding;

    @include media-breakpoint-down(lg) {
      padding: {
        bottom: .8rem;
      };
    }

  }

  &List {
    @extend %gridFullWidthOneColumn;

    grid-gap: 1.6rem;
  }

  &Item {
    width: 100%;

    @extend %mobileOutsidePadding;

  }

  &Group {
    @include media-breakpoint-down(lg) {
      &:first-child {
        padding: {
          top: 2rem;
        };
      };
    }

  }

}

.notFound {
  @extend %mobileOutsidePadding;

  width: 100%;
  display: flex;
  font-size: 1.4rem;
  line-height: 2.0rem;
  letter-spacing: -0.02em;
  color: $color-secondary-text-2;

  &Icon {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    color: $color-dark;
    margin-right: .8rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.3rem;
    background: $color-light-3;
    padding: {
      top: 1.2rem;
      bottom: 1.2rem;
    };
  }

  &Highlight {
    font: {
      weight: 700;
    };
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    margin: {
      right: .8rem;
    };
  }

  &Mobile {
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &Desktop {
    width: 100%;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

.modalHeader {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}


.advancedMobile {
  @extend %mobileOutsidePadding;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: {
    top: .8rem;
    bottom: .8rem;
  };
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: $color-tertiary-text-3;
  border-bottom: 1px solid $color-light-5;

  &Icon {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    color: $color-tertiary-text-3;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

}
