@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
    font: {
        size: inherit;
        weight: 700;
    };
    line-height: inherit;
    color: $color-primary;
    cursor: pointer;

    &::before {
        content: '+';
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
