@import "src/styles/_mixins";
@import "src/styles/_vars";

.checkboxDescription {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: .4rem;
  cursor: help;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
