@import "../../../styles/mixins";
@import "../../../styles/vars";

@include media-breakpoint-down(lg) {

    .sectionWithCategoriesList {
        display: flex;
    }

}



@include media-breakpoint-up(lg) {

    :global(.categoryMainpageSlider) + .sectionCatalog .sectionTop a {
        margin-top: .6rem;
    }

    :global(.categoryMainpageSlider) + .sectionCatalog + .sectionCatalog .sectionTop a {
        margin-top: .4rem;
    }

    :global(.categoryMainpageSlider) + .sectionCatalog .sectionTop,
    :global(.categoryMainpageSlider) + .sectionCatalog + .sectionCatalog .sectionTop {
        margin-bottom: 1.2rem;
    }

    :global(.categoryMainpageSlider) + .sectionCatalog {
        margin-bottom: .3rem;
    }

}

@include media-breakpoint-down(lg) {
    :global(.categoryMainpageSlider) + .sectionCatalog :global(.productList) {
        padding-bottom: 5rem;
    }

    :global(.categoryMainpageSlider) + .sectionCatalog + .sectionCatalog :global(.productList) {
        padding-bottom: 4.7rem;
    }
}

.sectionWithCategories {
    margin-bottom: 4.7rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }


    .sectionTitle {
        margin-bottom: 1.9rem;

        @include media-breakpoint-up(md) {
            margin-bottom:2.5rem;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 2.3rem;
        }
    }

    .linkArrowCategory {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .sectionTop {
        .linkArrow {
            display: none;

            @include media-breakpoint-up(md) {
                display: flex;
            }
        }
    }

    .tabs {
        margin-bottom: .2rem;
    }


    &List {
        .product-item {

            @include media-breakpoint-up(lg) {
                width: 31.9rem;

                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }

            &__img {
                @include media-breakpoint-up(lg) {
                    padding-top: 28.7rem;
                }
            }

            .view-btn .button__text {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }

        }

        .button.view-btn {

            @include media-breakpoint-up(md) {
                flex: 0 0 49.5px;
            }
            @include media-breakpoint-up(lg) {
                flex: 1;
            }
        }

    }

    .button.view-btn {

        @include media-breakpoint-up(lg) {

            flex: 0 0 4.4rem;

            .button__text {
                display: none;
            }

        }

    }

    .hiddenLink {
        display: flex;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            display: none;
            margin-top: .4rem;
        }

        @include media-breakpoint-down(lg) {
            margin-top: 0;
        }
    }

}

.wrapperSkeleton {
    width: 100%;
}

.titleSkeleton {
    min-height: 3.9rem;
    width: 40%;
    margin-bottom: 2.4rem;
}

.controlSkeleton {
    width: 100%;
    min-height: 3rem;
    margin-bottom: .8rem;
}

.productListWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.6rem;
    padding-bottom: 8rem;

    @include media-breakpoint-down(lg) {
        grid-template-columns: 4fr 1fr;
        grid-row-gap: 1.2rem;
        grid-column-gap: 0.6rem;
    }
}
