@import "../../../styles/mixins";
@import "../../../styles/vars";

.accountBanner {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        margin-bottom: 8rem;
    }
}

.accountBanner__block {
    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        background: url('../../../assets/img/account-banner-bg.png') center/cover no-repeat;
        padding: 2.4rem 7.9rem 2.4rem 6rem;
    }
}

.accountBanner__text {
    @include media-breakpoint-up(lg) {
        flex: 1;
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 3.3rem;
        letter-spacing: -0.02em;
        color: #000;
        padding-right: 8.2rem;

        span {
            color: #fff;
        }
    }
}

.accountBanner__logo {
    @include media-breakpoint-up(lg) {
        position: relative;
        width: 48.8rem;
        height: 10.6rem;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -0.2rem;
            width: 0.3rem;
            height: 100%;
            border-radius: 4px;
            background-color: rgba(#164668, .1);
        }
    }
}