@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $color-light;
  padding: 3.2rem 4rem;
  border-radius: 0 0 .8rem .8rem;
  border: 1px solid $color-light-5;

  @include media-breakpoint-down(lg) {
    border: none;
    padding: 5.2rem 3.2rem;
  }
}

.header {
  border-radius: .4rem;
  border: 1px solid rgba(249, 186, 73, 0.1);
  background-color: #FCF9EE;
  padding: .8rem;
  margin: auto auto .8rem auto;
}

.headerIcon {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  color: $color-secondary;
}

.title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  letter-spacing: -.02em;

  &Group {
    text-align: center;
    margin-bottom: .4rem;
  }
}

.group {
  margin-top: 1.2rem;

}

.input {

}

.checkboxText {
  line-height: 2rem;
  font-size: 1.4rem;
  letter-spacing: -.02em;
  color: $color-secondary-text-2;
}

.checkboxLink {
  position: relative;
  padding: .1rem 0;
  line-height: 1;
  border-bottom: 1px solid currentColor;
}

.button {
  width: 100%;
  border-radius: .4rem;
  background-color: $color-primary;
  color: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  transition: all .3s;

  &.google {
    border: 1.5px solid $color-secondary-text-2;
    background-color: $color-light;
    padding: .8rem;
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: $color-secondary;
    }
  }
}

.googleIcon {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  margin-right: 1.2rem;
}

.googleText {
  color: $color-secondary-text-2;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
}

.restore {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -.02em;
  color: #979797;
  margin-bottom: 2rem;
  margin-top: .6rem;

  &Disabled {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

.restoreCenter {
  margin-left: auto;
  margin-right: auto;
  opacity: .5;

  @include media-breakpoint-down(lg) {
    opacity: 1;
    margin: 0 auto;
  }
}

.restoreTitle {
  padding-right: .8rem;
}

.restoreLink {
  font-weight: 500;
}

.oneTime {
  display: flex;
  margin-bottom: 2rem;
}

.oneTimeDescription {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  text-align: center;
  color: #979797;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.oneTimeInput {
  border: none;
  line-height: 2.2rem;
  color: #1a2226;
  padding-left: .5rem;

  input {
    padding: 0;
  }
}

.oneTimeButton {
  display: inline-flex;

  &Icon {
    width: 2rem;
    height: 2rem;
    display: block;
    color: #00b3b1;
    margin-left: .8rem;
  }
}

.inputCode {
  margin-bottom: 2.6rem;
}

.timer {
  margin: .2rem auto 0 auto;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #333333;
}
