@import "src/styles/_mixins";
@import "src/styles/_vars";
@import "src/styles/_base.scss";

.userPanel {
  display: flex;
  align-items: center;
  font-family: "CircularProTT", sans-serif;
}

.btnCart {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  transition: opacity .3s;
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 1.5rem);
    height: calc(100% + 1rem);
    left: -1rem;
    top: -.5rem;
    z-index: -1;
    border-radius: .4rem;
    transition: background-color .3s;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 4rem;

    &:hover::after {
      background-color: $color-light-2;
    }

  }

  @include media-breakpoint-down(lg) {
    margin-left: 1.6rem;
  }

  &Icon {
    width: 2.4rem;
    height: 2.4rem;
    color: $color-secondary-text-2;
  }

}

.btnCart__text {
  display: none;

  @include media-breakpoint-up(lg) {
      display: inline-block;
      font-size: 1.7rem;
      color: #263238;
      margin-left: 1.3rem;
      font-family: "CircularProTT", sans-serif;
  }
}

.cartBadge {
  top: 0;
  left: 1.8rem;

  @include media-breakpoint-down(lg) {
    right: -.5rem;
    left: unset;
  }
}
