@import "src/styles/_mixins";
@import "src/styles/_vars";


.categoryPageContent {
  position: relative;

  @include media-breakpoint-up(lg) {
    flex: 1;
    padding-left: 2.8rem;
  }
}

.header {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;

  &Main {

    @include media-breakpoint-up(lg) {
      margin: {
        left: auto;
      };
    }
    @include media-breakpoint-down(lg) {
      flex: 1;
    }
  }
}

.control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: .8rem;
  position: relative;

  &Sticky {
    position: sticky;
    top: 0;
    background-color: $color-light;
    width: calc(100% + 2.4rem);
    margin-left: -1.2rem;
    padding: .4rem 1.2rem;
    z-index: 1;
    filter: drop-shadow(0 2px 6px rgba(138, 142, 145, .2));

    &>span {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {

    .headerMain {
      order: 2;
    }
  }

  @include media-breakpoint-down(lg) {
    display: flex;
    margin-top: 1.5rem;
  }
}


.chose {
  @include media-breakpoint-down(lg) {
    background-color: $color-light-3;
    border: 1px solid $color-light-4;
  }
}

.controlCount {

  @include media-breakpoint-up(lg) {
    padding-left: 1.6rem;
    color: #979797;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -.02em;
    color: $color-tertiary-text-3;
    width: 100%;
    padding-top: .8rem;
  }
}

.hiddenBlock {
  height: 0;
  opacity: 0;
  display: block;
  width: 0;
  position: absolute;
  top: 0;
}

.skeleton {
  min-height: 3.5rem;
  width: 100%;

  @include media-breakpoint-down(lg) {
    min-height: 4.2rem;
  }
}
