@import "src/styles/_mixins";
@import "src/styles/_vars";

.price {
  font-size: 1.6rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.7rem;
  }
}

.old {
  font-size: 1.2rem;
  color: $color-tertiary-text-3;
  text-decoration-line: line-through;
  margin-left: .9rem;

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }
}
