@import "src/styles/_mixins";
@import "src/styles/_vars";

$local-animation-time-ms: 300;

.appear {
  &Active {

  }

  &Done {

  }
}

.enter {
  &Active {
    animation: enterActiveAnimation #{$local-animation-time-ms}ms ease-in;
  }

  &Done {

  }
}

.exit {
  &Active {

  }

  &Done {

  }
}

@keyframes enterActiveAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
  }
  65.5% {
    transform: scale(1.06);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

:export  {
  animationTimeMs: #{$local-animation-time-ms};
}
