@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

%localButton {
  @include media-breakpoint-up(lg) {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.02em;
    color: #ECEFF1;
  }
}

.buttonSignUp {
  @extend %localButton;

  margin: 0;

  @include media-breakpoint-up(lg) {
    margin-right: 2.1rem;
  }
}


.buttonLogin {
  @extend %localButton;

  margin: 0;

  @include media-breakpoint-up(lg) {
    margin-right: 1.6rem;
  }
}
