@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.9rem;
  letter-spacing: -.02em;

  @include media-breakpoint-down(lg) {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -.01em;
  }
}