@import "../../../../../../../styles/mixins";
@import "../../../../../../../styles/vars";

.wrapper {

}

.modalWrapper {
  padding:  0 2rem 2rem 2rem;
}

.header {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.01em;
  color: #1A2226;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.headerText {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  font-weight: 500;
  margin-bottom: .8rem;
}

.ratingWrapper {
  display: flex;
  flex-direction: column;
  border-radius: .4rem;
  background-color: $color-light-3;
  padding: 1.2rem 1.6rem 2rem 1.6rem;
  margin-bottom: 2.4rem;
}

.ratingStarPicker {

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.ratingStarPickerDelimiter {
  padding-bottom: 2rem;
  border-bottom: 1px solid $color-light-5;
}

.input {
  margin-bottom: 1.2rem;
}

.button {
  border-radius: .4rem;
  background-color: $color-primary;
  color: $color-light;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  font-weight: 500;
  transition: all .3s;
}
