@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
}

%localInheritFont {
  font: inherit;
  line-height: inherit;
}

%localButton {
  @extend %localInheritFont;

  display: flex;
  align-items: center;
  grid-gap: .2rem;
  color: $color-primary;
  transition: .2s ease-in-out;

  @include media-breakpoint-up(lg) {
    &:hover {
      color: $color-secondary;
    }
  }
}

.prev {
  @extend %localButton;

  .icon {
    transform: rotate(180deg);
  }
}

.next {
  @extend %localButton;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.text {
  @extend %localInheritFont;
}

.counter {
  @extend %localInheritFont;

  color: $color-tertiary-text-3;
}
