@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.2rem;

  @include media-breakpoint-down(lg) {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 0 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    width: calc(100% + 4rem);
    margin-bottom: 0;
  }
}
