@import "src/styles/_mixins";
@import "src/styles/_vars";

.breadcrumbs {
    display: none;
    padding: .9rem 0;

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.skeleton {
    width: 100%;
    min-height: 2.2rem;
    display: block;
    max-width: 142.8rem;
    margin: 1rem auto;
}
