@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  background: $color-light-2;
  border-radius: .4rem;
  display: flex;
}

.input {
  background: unset;
  padding: .8rem 1.6rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: $color-secondary-text-2;
  outline: none;
  border-radius: .4rem;

  &:focus,
  &:valid {
    ~ .label {
      display: none;
    }
  }

  &Container {
    position: relative;
    flex: 1;

  }

}

.clean {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.02em;
  color: $color-tertiary-text-3;
  display: flex;
  align-items: center;

  &Icon {
    display: none;
    width: 2.4rem;
    height: 2.4rem;

    &Svg {
      width: 100%;
      height: 100%;
      display: block;
      opacity: .4;
      color: $color-light-4;
    }
  }

  &:hover {
    color: $color-primary;
  }
}

.side {
  border-right: 1px solid $color-light-5;
  border-radius: .4rem 0 0 .4rem;
  cursor: pointer;
  display: flex;
  padding: .4rem .8rem .4rem 1.6rem;

  &:hover {
    background: $color-light-4;
  }
}

.divider {
  background: $color-light-5;
  border-radius: .8rem;
  width: .1rem;
  margin: .8rem;

  ~ .inputContainer {
    .label {
      left: .8rem;
    }
    .input {
      padding: {
        left: .8rem;
      };
    }
  }
}

.label {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.02em;
  color: $color-tertiary-text-3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 1.6rem;
  pointer-events: none;
}


.button {
  padding: .6rem .8rem;
  display: flex;
  border-radius: .4rem;

  .buttonIcon {
    width: 2.4rem;
    height: 2.4rem;
    color: $color-secondary-text-2;
  }

  &:hover {
    .buttonIcon {
      color: $color-primary;
      transition: fill .3s;
    }
  }

}


// VARIANT's
.variant {
  &Default {

  }

  &DarkSmall {
    background: $color-accent-2;
    border: 1px solid rgba($color-light-3, 0.2);

    .label,
    .input {
      color: $color-light-4;
    }

    .clean {
      color: $color-light-4;
      padding: 0 .8rem;

      + .divider {
        display: none;
      }

      &Icon {
        display: flex;
      }

      &Text {
        display: none;
      }
    }

    .button {
      display: none;
    }

  }

}
