@import "src/styles/_mixins";
@import "src/styles/_vars";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: $color-light;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 0.4rem;
  transition: .3s;

  &.button--black {
    color: $color-light;
    background: #333;
    border-color: #333;
  }

  &.button--transparent {
    color: #333;
    background-color: transparent;
    border-color: #333;

    &:hover {
      color: $color-light;
      background-color: $color-secondary;
    }
  }

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-light;
  }
}
