@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
}

.direction {
  &Column {
    flex-direction: column;
  }

  &ColumnReverse {
    flex-direction: column-reverse;
  }

  &Row {
    flex-direction: row;
  }

  &RowReverse {
    flex-direction: row-reverse;
  }
}

.alignItems {
  &Start {
    align-items: flex-start;
  }

  &Center {
    align-items: center;
  }

  &End {
    align-items: flex-end;
  }

  &Stretch {
    align-items: stretch;
  }
}

.justifyContent {
  &Start {
    justify-content: flex-start;
  }

  &Center {
    justify-content: center;
  }

  &End {
    justify-content: flex-end;
  }

  &SpaceBetween {
    justify-content: space-between;
  }

  &Stretch {
    justify-content: stretch;
  }
}

.flex {
  &Auto {
    flex: 1;
  }
}

.wrap {
  &Wrap {
    flex-wrap: wrap;
  }

  &NoWrap {
    flex-wrap: nowrap;
  }
}
