@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

:global(.swiper) {
    .navigationBtn {

        width: 4.8rem;
        height: 4.8rem;

        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;

        filter: drop-shadow(0px 2px 16px rgba(169, 169, 169, .3));

        background-color: $color-light;

        &Icon {
            width: 2.4rem;
            height: 2.4rem;
            color: #164668;
            display: block;
        }

        @include media-breakpoint-up(md) {
            &:hover {
                background-color: $color-secondary;
            }
        }

        @include media-breakpoint-down(md) {
            &:global(.swiper-button-next),
            &:global(.swiper-button-prev) {
                display: none;
            }
        }

        &:global(.swiper-button-next) {
            right: 1.2rem;
        }

        &:global(.swiper-button-prev) {
            left: 1.2rem;

            .navigationBtnIcon {
                transform: rotate(180deg);
            }
        }

        &:global(.swiper-button-prev),
        &:global(.swiper-button-next) {
            &::after {
                content: none;
            }
        }

    }

}

// VARIANT's
.variant {
    &Default {

    }

}
