@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  max-width: 89.5rem;
  width: 100%;
}


.title {
  font-feature-settings: 'liga' off;

  @include media-breakpoint-up(lg) {
    color: $color-secondary-text-2;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.01em;
    color: $color-title;
    margin: {
      bottom: 1.6rem;
    };
  }
}

.content {
  border-radius: .4rem;

  @include media-breakpoint-up(lg) {
    background: $color-light-3;
    grid-gap: .8rem;
    padding: 1.6rem;
  }

  @include media-breakpoint-down(lg) {
    padding: 2rem;
    grid-gap: 2.4rem;
  }
}

.label {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
  color: $color-secondary-text-2;
  width: 100%;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.side {
  grid-gap: .4rem;

  @include media-breakpoint-down(lg) {
    grid-gap: 1.2rem;
  }
}

.main {
  background: $color-light;

  @include media-breakpoint-up(lg) {
    padding: 1.2rem;
    border-radius: .8rem;
  }

  @include media-breakpoint-down(lg) {
    order: -1;
  }
}

.item {
  background: $color-light;
  border: 1px solid $color-light-5;
  box-sizing: border-box;
  border-radius: .4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: $color-secondary-text-2;
  padding: .6rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: .4rem;

  @include media-breakpoint-down(lg) {
    width: calc(50% - .6rem);
  }

  &[disabled] {
    cursor: default;
    color: #AFB3B9;
  }

  &.isActive {
    background: $color-darkblue-2;
    color: $color-light;
  }
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}


.location {

}
