@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  margin: 0 auto;
  padding: 2.4rem 0;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
