@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

.tabColored {
  background-color: $color-light;
}

// content tab
.contentText {
  margin-right: 2rem;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}

.content {
  &Horizontal {

  }

  &Vertical {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    .contentText {
      margin-right: 0;
      margin-bottom: .8rem;
    }

    .contentImage {
      margin: 0;
      margin-bottom: .8rem;
    }
  }
}

.contentTitle {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 1.2rem;
}

.contentDescription {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  margin-bottom: 1.1rem;
}

.contentList {
  display: flex;
  flex-direction: column;
}

.contentItem {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  padding-left: 1.8rem;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: .7rem;
    left: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: $color-secondary;
  }
}

.contentImage {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

.containerHeader {
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &Title {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.9rem;
    letter-spacing: -.01em;
    color: $color-title;

    &Center {
      text-align: center;
      margin-bottom: 4rem;

      @include media-breakpoint-down(lg) {
        margin-bottom: 1.7rem;
        text-align: left;
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    @include media-breakpoint-down(lg) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
