@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  grid-gap: .8rem;

  @include media-breakpoint-down(lg) {
    padding: 2.4rem 0;
  }
}

.icon {
  height: 4rem;
  width: 4rem;
  color: $color-primary;
}

.text {
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: $color-secondary-text-2;
}
