@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  align-items: center;
}

.input {
  border-bottom: 1px solid #E3E4E7;
  width: 3.7rem;
  padding: 1.2rem 0;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: -.02em;
  color: #263238;

  &[disabled] {
    opacity: .6;
    pointer-events: none;
  }

  &:not(:last-child) {
    margin-right: 1.6rem;
  }
}
