@import "../../../styles/mixins";
@import "../../../styles/vars";

.searchTrigger {
  background-color: #F3F6F8;
  position: relative;
  margin-bottom: 1.6rem;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.search__input {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -.02em;
  padding: .8rem 3.7rem .7rem 1.6rem;
  font-family: inherit;
}

.search__btn {
  position: absolute;
  right: .8rem;
  width: 2.4rem;
  height: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
}
