@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  @include media-breakpoint-down(lg) {
    max-height: calc(100vh - 30.4rem);
    overflow-y: scroll;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
}
