@import "src/styles/mixins";
@import "src/styles/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $color-light;
  padding: 1.2rem;
  box-shadow: 0 2px 8px rgba(204, 218, 221, .25);
  border-radius: 4px;

  @include media-breakpoint-down(lg) {
    flex-direction: row;
    width: 100%;
    margin: 2rem 0;
  }
}

.image {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: .8rem;

  &::before {
    content: '';
    padding-bottom: 83%;
    position: relative;
    display: block;
  }

  @include media-breakpoint-down(lg) {
    width: 12rem;
    margin-bottom: 0;
    margin-right: 1.6rem;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(lg) {
    flex: 1;
  }
}


.button {
  background-color: $color-light;
  border: 2px solid #364250;
  color: #364250;

  &Invert {
    background-color: #364250;
    color: $color-light;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.3rem;
    line-height: 2rem;
    height: 3.2rem;
  }

  &:not(:last-child) {
    margin-bottom: .4rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: .8rem;
    }
  }
}

.workTime {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -.02em;
  color: $color-tertiary-text-3;
  margin-top: .8rem;
}

.skeleton {
  top: 2rem;
  position: sticky !important;
  flex: 1;
  min-height: 34rem;

  @include media-breakpoint-down(lg) {
    min-height: 16.7rem;
    top: 0;
    margin: 2rem 0;
  }
}
