@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

.progress {
  @include media-breakpoint-down(lg) {
    display: none;
  }

  &Item {

  }

  &Stars {
    display: flex;
    align-items: center;

    svg {
      width: 1.6rem;
      height: 1.6rem;

      path {
        fill: $color-darkblue-2;
      }
    }
  }

  &StarCount {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -.02em;
    min-width: 1rem;
    text-align: center;
    margin-right: .3rem;
  }

  &Icon {
    width: 1.6rem;
    height: 1.6rem;
    color: $color-darkblue-2;
  }

  &Count {
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.02em;
    margin-left: auto;
  }

  &Range {
    height: .4rem;
    border-radius: .2rem;
    background-color: $color-light-5;
    margin: auto .8rem;
    flex: 1;
  }

  &Value {
    width: 0;
    height: .4rem;
    border-radius: .2rem;
    background-color: $color-darkblue-2;
  }
}
