@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

  @include media-breakpoint-down(lg) {
    padding: 1rem 0 2rem;
  }
}

.text {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  color: $color-secondary-text-2;
  font-weight: 400;
  text-align: center;

  @include media-breakpoint-down(lg) {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.icon {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin-bottom: .8rem;
  color: $color-primary;

  @include media-breakpoint-down(lg) {
    margin-bottom: .4rem;
  }
}
