@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

.modal {
  width: 56.5rem;

  &Success {
    width: 33.7rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: .8rem;

  @include media-breakpoint-down(lg) {
    padding: 0 2rem 2rem;
  }
}

.title {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;

  @include media-breakpoint-down(lg) {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: -.01em;
  }
}

.input {

}

.group {
  margin-bottom: 1.2rem;
}

.button {
  border-radius: .4rem;
  background-color: $color-primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -.02em;
  margin-right: auto;
  padding: 1.2rem 3.2rem;
  transition: .3s;

  @include media-breakpoint-down(lg) {
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem 3.2rem;
  }

  &Text {
    color: $color-light;
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: $color-secondary;
    }
  }

  &[disabled] {
    opacity: .8;
    filter: grayscale(1);
    pointer-events: none;
  }
}

.fileAdd {
  display: flex;
  align-items: center;
  color: $color-primary;
  cursor: pointer;
  margin-bottom: 2rem;

  &.fileAddDisabled {
    color: #AFB3B9;

    .fileIcon {
      color: #afb3b9;
    }
  }
}

.file {
  display: flex;
}

.fileIcon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: $color-primary;
  margin-right: .4rem;
}

.fileText {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.inputFile {
  display: none;
}

.fileWrapper {
  position: relative;
  border: 1px solid #E3E4E7;
  width: 4.6rem;
  height: 4.6rem;
  margin-bottom: 1.8rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:not(:last-child) {
    margin-right: 2.3rem;
  }
}

.fileDelete {
  position: absolute;
  left: 100%;
  top: 0;
  color: $color-tertiary-text-3;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  cursor: pointer;
}

.fileList {
  display: flex;
  align-items: center;
  margin-top: .8rem;
}
