@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  background-color: $color-light-11;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(249, 186, 73, .25);
  display: none;

  &.isActive {
    display: flex;
  }

  @include media-breakpoint-down(lg) {
    margin: 0 -2rem 2rem -2rem;
  }
}

.icon {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin-right: 1.2rem;

  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 1.2rem;
    left: 1.6rem;
  }
}

.inner {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    align-items: flex-start;
  }
}

.button {
  color: $color-tertiary-text-3;
  display: flex;

  @include media-breakpoint-down(lg) {
    position: absolute;
    right: .8rem;
    top: .8rem
  }
}

.buttonIcon {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
  flex: 1;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 2.2rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.3rem;
    line-height: 1.9rem;
    max-width: 70%;
    padding-left: 5.2rem;
  }
}

.text {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -.02em;
  line-height: 2.2rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: .6rem;
  }
}

.container {
  @include media-breakpoint-down(lg) {
    padding: 0 1.6rem;
  }
}
