@import "src/styles/_mixins";
@import "src/styles/_vars";

.benefites {
    margin-bottom: 4.8rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 5.4rem;
    }
}

.benefites__list {
    background: rgba(252, 249, 238, .45);
    border: 1px solid rgba(249, 186, 73, .25);
    border-radius: 4px;

    @include media-breakpoint-up(lg) {
        display: flex;
        padding: 1.2rem 1.1rem .8rem;
    }
}

.benefites__item {
    display: flex;
    align-items: center;
    min-height: 4.8rem;
    padding: .8rem 1.4rem;

    &:not(:last-child) {
        border-bottom: 1px solid rgba($color-secondary, .25);
    }

    @include media-breakpoint-up(md) {
        padding: 1.45rem 2.4rem;
    }
    @include media-breakpoint-up(lg) {
        min-height: 4.9rem;
        padding: 0 2.4rem;

        &:not(:last-child) {
            position: relative;
            border: none;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 1px;
                background: rgba($color-secondary, .25);
                border-radius: 4px;
            }
        }

        &.tp_connected {
            padding-right: 1rem;
        }
        &.productShipped {
            padding-right: 2.1rem;
        }
    }
}

.benefites__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6.2rem;
    height: 3.2rem;
    margin-right: 1.4rem;

    svg {
        width: 100%;
        height: 100%;
    }

    @include media-breakpoint-up(md) {
        width: 8.2rem;
        height: 4.1rem;
    }
    @include media-breakpoint-up(lg) {
        width: initial;
        margin-right: 1.2rem;
    }
}

.benefites__item.verticalRepresented .benefites__icon {
    @include media-breakpoint-up(lg) {
        width: 4rem;
        height: 3.9rem;
    }
}
.benefites__item.tp_connected .benefites__icon {
    @include media-breakpoint-up(lg) {
        width: 8.2rem;
        height: 2.5rem;
    }
}
.benefites__item.productShipped .benefites__icon {
    @include media-breakpoint-up(lg) {
        width: 6.3rem;
        height: 2.5rem;
    }
}
.benefites__item.kitsStart .benefites__icon {
    @include media-breakpoint-up(lg) {
        width: 3.6rem;
        height: 3.8rem;
    }
}
.benefites__item.sertDevices {
    @include media-breakpoint-up(lg) {
        padding: 0 1.2rem 0 2.4rem;

        .benefites__icon {
            width: 4.4rem;
            height: 4.1rem;
        }
    }
}

.benefites__text {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -.02em;
    color: $color-secondary-text-2;

    @include media-breakpoint-up(md) {
        font-size: 1.4rem;
        line-height: 2.2rem;
        letter-spacing: -.02em;
    }
}

.lorawan {
    padding: 3.7rem 0 4.2rem;

    @include media-breakpoint-down(lg) {
        padding-top: 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0 8.3rem;
        margin-top: .1rem;
    }
}

.lorawan__wrapper {
    @include media-breakpoint-up(lg) {
        display: flex;
    }

    @include media-breakpoint-down(lg) {
        h2 {
            font-size: 2rem;
            letter-spacing: -.01em;
        }
    }
}

.lorawan .section-top {
    margin-bottom: 1.6rem;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.lorawan__video {
    position: relative;
    width: 100%;
    height: 17.4rem;
    margin-bottom: 1.7rem;
    border-radius: 8px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include media-breakpoint-up(md) {
        height: 34rem;
    }
    @include media-breakpoint-up(lg) {
        order: 2;
        width: 65.8rem;
        margin-bottom: 0;
    }
}

.playVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
        width: 4.8rem;
        height: 4.8rem;
    }

    @include media-breakpoint-up(md) {
        svg {
            width: 7.2rem;
            height: 7.2rem;
        }
    }
}

.lorawan__content {
    @include media-breakpoint-up(lg) {
        order: 1;
        flex: 1;
        padding-right: 6.2rem;

        h2 {
            font-size: 2.6rem;
            line-height: 2.9rem;
        }
    }
    @include media-breakpoint-down(lg) {
        h2 {
            display: none;
        }
    }
}

.lorawan__content .section-title {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        line-height: 3rem;
        letter-spacing: 0;
        margin-bottom: 1.2rem;
    }
}

.lorawan__contentText {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: -.02em;
    color: $color-secondary-text-2;
    margin-bottom: 2.5rem;
    padding-top: 1.2rem;

    b {
        font-weight: 700;
    }

    a {
        font-weight: 700;
        color: $color-primary;
    }

    @include media-breakpoint-up(md) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    @include media-breakpoint-down(lg) {
        padding-top: 0;
        margin-bottom: 2.4rem;
    }
}

a.readMore {
    display: inline;
    font-weight: 700;
    color: $color-primary;
}

.lorawanList__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-title;
    margin-bottom: .2rem;

    @include media-breakpoint-up(md) {
        font-size: 1.8rem;
    }
    @include media-breakpoint-up(lg) {
        letter-spacing: -.02em;
        margin-bottom: 0;
    }
}

.lorawanList__wrapper {
    display: flex;
    padding: .6rem;
    margin: 0 -.6rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
        background: transparent;
    }

    @include media-breakpoint-up(lg) {
        margin: 0 -1.2rem;
    }

    @include media-breakpoint-down(md) {
        margin: 0 -2rem;
        width: calc(100% + 4rem);
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.lorawanList__item {
    flex-shrink: 0;
    display: flex;
    width: 24.8rem;
    background-color: $color-light;
    padding: 1.1rem 1.8rem 1.3rem 1.2rem;
    box-shadow: 0 2px 6px rgba(138, 142, 145, .2);
    border-radius: 4px;

    &:not(:last-child) {
        margin-right: .7rem;
    }

    @include media-breakpoint-up(lg) {
        width: calc(100% / 2 - 1.2rem);
        padding: 1.4rem 1.8rem 1.4rem 1.6rem;
        margin: 0 .6rem 1.2rem;
        padding-top: 1.2rem;
    }
}

.lorawanList__itemIcon {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: .8rem;

    svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    @include media-breakpoint-up(lg) {
        width: 6.4rem;
        height: 6.4rem;
        margin-right: 1.2rem;
    }
}

.lorawanList__itemContent {
    flex: 1;
    padding-top: .2rem;

    @include media-breakpoint-up(lg) {
        padding-top: .1rem;
    }
}

.lorawanList__itemTitle {
    font-size: 1.3rem;
    line-height: 2rem;
    color: $color-title;
    margin-bottom: .1rem;

    @include media-breakpoint-up(md) {
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-bottom: .5rem;
    }
}

.lorawanList__itemText {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: -.02em;
    color: $color-accent;

    a {
        font-weight: 700;
        color: $color-primary;
    }

    @include media-breakpoint-up(md) {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

.accountBanner {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        margin-bottom: 8rem;
    }
}

.accountBanner__block {
    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        background: url("../../assets/img/account-banner-bg.png") center/cover no-repeat;
        padding: 2.4rem 7.9rem 2.4rem 6rem;
    }
}

.accountBanner__text {
    @include media-breakpoint-up(lg) {
        flex: 1;
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 3.3rem;
        letter-spacing: -.02em;
        color: $color-dark;
        padding-right: 8.2rem;
        padding-top: .4rem;

        span {
            color: $color-light;
        }
    }
}

.accountBanner__logo {
    @include media-breakpoint-up(lg) {
        position: relative;
        width: 48.8rem;
        height: 10.6rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -.2rem;
            width: .3rem;
            height: 100%;
            border-radius: 4px;
            background-color: $color-light-9;
        }
    }
}
