@import "src/styles/mixins";
@import "src/styles/vars";

.wrapper {
  display: grid;
  text-align: left;
  position: relative;
  cursor: default;
}

.logo {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  width: 100%;
  height: 100%;

  ~ .title {
    padding-left: 1.2rem;
  }

  &Image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
  }
}

.title {
  font-weight: 500;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: $color-secondary-text-2;
}

.text {

}

.arrow {
  width: 2.4rem;
  height: 2.4rem;
  color: $color-tertiary-text-3;
  display: none;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .8rem;
}

.attribute {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: -.02em;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &Title {
    font-weight: 500;
  }

  &Icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: .4rem;
    color: $color-tertiary-text-3;
  }
}


// VARIANT's
.variant {
  &Default {
    grid-template-columns: 9rem auto;
    grid-template-rows: 4.7rem auto;
    padding: 2.4rem;
    border: 1px solid rgba(249, 186, 73, .25);
    background-color: $color-light-11;
    border-radius: .8rem;

    .logo {
      border: 1px solid rgba(249, 186, 73, .25);
      background-color: $color-light;
      grid-column: 1 span;
      grid-row: 1 span;
    }

    .attribute {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    .title {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $color-secondary;
      grid-column: 1 span;
    }

    .content {
      width: 100%;
      grid-column: 2 span;
      padding: {
        top: .9rem;
      };
    }
  }

  &Touch {
    grid-template-columns: 7rem auto;
    grid-template-rows: repeat(2, auto);
    padding: .8rem #{1.6 + 2.4 * 1rem} .8rem 1.6rem;
    box-shadow: 0 2px 8px rgba(204, 218, 221, 0.5);
    border-radius: .4rem;
    background: $color-light;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.6rem;
    }

    &.isAction {
      cursor: pointer;

      .arrow {
        display: block;
      }
    }

    .title {
      grid-column: 1 span;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: -0.02em;
      color: $color-secondary-text-2;
    }

    .logo {
      grid-column: 1 span;
      grid-row: 2 span;
      height: 4.8rem;
      align-self: center;
    }

    .content {
      grid-column: 1 span;
      padding: {
        left: 1.2rem;
        top: .4rem;
      };
    }

    .attribute {
      width: 100%;
      font-size: 1.3rem;
      line-height: 2rem;

      &:nth-of-type(n + 3) {
        display: none;
      }
    }

    .text {
      display: none;
    }
  }
}
