@import "src/styles/_mixins";
@import "src/styles/_vars";

.header {
  box-shadow: 0 2px 16px rgba(169, 169, 169, .3);
  z-index: 10;
  position: relative;
}

.headerBottom {
  @include media-breakpoint-down(lg) {
    padding: 1.4rem 0 1.3rem;
  }

  @include media-breakpoint-up(lg) {
    background-color: #fff;
    height: 6.8rem;
    display: flex;
    align-items: center;
  }
}

.headerBottomWrapper {
  display: flex;
  align-items: center;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.burgerBtn {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  margin-right: 1.6rem;
  border: none;
  outline: none;
  background: transparent;

  &Icon {
    display: block;
    width: 100%;
    height: 100%;
    color: #263238;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.logo {
  width: 17.6rem;
  margin: .5rem auto 0 0;

  img {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 9rem 0 0;
  }
}

.btnCart {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #263238;
  }
}

.btnCart__text {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    font-size: 1.7rem;
    color: #263238;
    margin-left: 1.3rem;
  }
}

// BURGER MENU

.burgerMenu {
  display: block;
  background-color: #fff;
  padding: 0 2rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: 1px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

.burgerMenu__header {
  display: flex;
  align-items: center;
  padding: 1.4rem 0 1.3rem;
}

.burgerMenu__close {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.6rem;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;

  &Icon {
    color: #263238;
  }
}

.burgerMenu__block {
  background: #f5fafb;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.burgerMenu .userPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}

.burgerMenu .btnSignUp,
.burgerMenu .btnLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.114%;
  height: 3.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: -.02em;
  border: 2px solid #00b3b1;
  border-radius: 4px;
}

.burgerMenu .btnSignUp {
  color: #fff;
  background-color: #00b3b1;
}

.burgerMenu .btnLogin {
  color: #00b3b1;
  background-color: #fff;
}

.burgerMenu .mainNav__link {
  display: block;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 1.6rem 4rem 1rem 1.2rem;
  position: relative;
  letter-spacing: -.02em;
  color: #263238;

  &Arrow {
    display: block;
    color: #979797;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: .8rem;
    top: 1.2rem;
  }
}

.burgerMenu .mainNav__link {
  display: flex;
  align-items: center;
}

.burgerMenu .mainNav__icon {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  margin-right: .8rem;
  margin-top: -.2rem;
}

.userRegisteredUser {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.4rem 4rem 1.1rem 1.2rem;
}

.userRegisteredUser__icon {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #f9ba49;
  border-radius: 50%;
  margin-right: .8rem;

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.userRegisteredUser__name {
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: -.02em;
  color: #1a2226;
}

.userRegisteredUser__email {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -.02em;
  color: rgba($color-secondary-text-2, .5);
}

.burgerMenu .mainNav,
.modalBlock .mainNav {
  display: block;
}

.burgerMenu .mainNav__item,
.modalBlock .mainNav__item .mainNav__link {
  width: 100%;
  margin: 0;

  &::after {
    display: none;
  }
}

.burgerMenu .mainNav__item:not(:last-child),
.modalBlock .mainNav__item:not(:last-child) .mainNav__link {
  border-bottom: 1px solid rgba(#979797, .1);
}

.preferences {
  position: relative;
}

.preferencesItem {
  position: relative;
  padding: 1.7rem 4rem .7rem 1.2rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($color-tertiary-text-3, .1);
  }

  @include media-breakpoint-up(lg) {
    padding: .3rem 4rem .3rem 1.4rem;
    border: 2px solid #e3e4e7;
    border-radius: 4px;

    &:not(:last-child) {
      border: 2px solid #e3e4e7;
      margin-bottom: 1.2rem;
    }

    &.active {
      border-color: $color-tertiary-text-3;

      &::before {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }
}

.preferencesItem__title {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -.02em;
    color: $color-tertiary-text-3;
  }
}

.preferencesItem__row {
  position: relative;
  display: flex;
  align-items: center;
}

.preferencesItem__icon {
  width: 1.7rem;
  height: 1.2rem;
  margin-right: .7rem;
}

.preferencesItem__value {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  color: $color-secondary-text-2;
  padding-top: .2rem;

  @include media-breakpoint-up(lg) {
    line-height: 1.8rem;
  }
}

.preferencesList {
  display: none;

  @include media-breakpoint-up(lg) {
    display: none;
    width: calc(100% + .4rem);
    position: absolute;
    top: calc(100% + .1rem);
    left: -.2rem;
    padding: .7rem 0 0;
    border: 2px solid #e3e4e7;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }
}

.preferencesItem.active .preferencesList {
  display: block;
}

.preferencesList__item {

  @include media-breakpoint-up(lg) {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $color-light;
    padding: .7rem 4rem .7rem 1.4rem;

    &.itemActive::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      width: .4rem;
      height: .4rem;
      background-color: $color-secondary-text-2;
      border-radius: 50%;
    }

    &:last-child {
      padding: .7rem 4rem 1.1rem 1.4rem;
    }
  }
}

// BURGER MENU END

// HEADER MODAL

.modalBlock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: $color-light;
  z-index: 99;
  display: none;

  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  &.solutions {
    display: none;
  }

  &.smartHealth {
    display: none;
  }

  &.searchModal {
    display: none;

    @include media-breakpoint-up(lg) {
      top: 150px;
      max-width: 700px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-light;
    }
  }

  &.preferencesModal {
    display: none;
  }

  &.preferencesChecked {
    display: none;
  }

  &.advancedSearch {
    display: none;
  }
}

.modalBlock__header {
  display: flex;
  align-items: center;
  height: 4.8rem;
  background-color: $color-darkblue-2;
  padding: 0 2rem;

  @include media-breakpoint-up(lg) {
    height: initial;
    background-color: transparent;
    padding: 0;
  }
}

.modalBlock__back {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.modalBlock__title {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -.02em;
  color: $color-light;
}

.modalBlock__content {
  padding: 2rem;

  @include media-breakpoint-up(lg) {
    padding: 2rem 0;
  }
}

// subMenuSolutions MODAL

.modalBlock.solutions .subMenuSolutions {
  display: block;
}

.modalBlock.solutions .modalBlock__content {
  padding: 1.2rem 2rem 2rem;
}

.modalBlock.solutions .subMenu__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.4rem;
}

.modalBlock.solutions .subMenu__item {
  width: calc(100% / 2 - .8rem);
  margin: .8rem .4rem 0;
}

// subMenuSolutions MODAL END

// smartHealth MODAL START
.modalBlock.smartHealth .subMenu__item.horizontalTitle {
  padding-bottom: 1.6rem;
}

.modalBlock.smartHealth .subMenu__item.horizontalTitle svg {
  margin-right: .8rem;
}

// smartHealth MODAL END

// searchModal MODAL START
.modalBlock.searchModal .modalBlock__content {
  padding-top: 0;

  @include media-breakpoint-up(lg) {
    display: flex;
    padding-top: 2.4rem;
  }
}

.modalBlock.searchModal .modalBlock__header .search__input {
  height: 3.2rem;
  color: #eef2f3;
  background-color: #3e4b5b;
  border: 1px solid rgba(245, 250, 251, .2);

  &::placeholder {
    color: #eef2f3;
  }

  @include media-breakpoint-up(lg) {
    height: 3.6rem;
    color: $color-secondary-text-2;
    padding: .5rem 9rem .5rem 17rem;
    background-color: #f3f6f8;
    border-color: #979797;

    &::placeholder {
      color: $color-secondary-text-2;
    }
  }
}

.modalBlock__header .searchTrigger {
  width: 100%;
  flex: 1;
}

.search__btn,
.closeBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .5rem;
  width: 2.4rem;
  height: 2.4rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.search__btn {
  right: 0;

  @include media-breakpoint-up(lg) {
    right: .5rem;
  }
}

.searchTrigger__actions .search__btn {
  position: initial;
  transform: translateY(0);
  width: 4.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: $color-secondary-text-2;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 2rem;
    background-color: #e3e4e7;
    border-radius: 8px;
  }
}

.closeBtn {
  right: .8rem;

  &.textVariant {
    position: initial;
    transform: translateY(0);
    width: initial;
    height: initial;
    font-size: 1.4rem;
    letter-spacing: -.02em;
    color: $color-tertiary-text-3;
    margin-right: 1rem;
  }
}

.searchTrigger__actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.searchTrigger__actions .search__btn,
.searchTrigger__actions .closeBtn {
  position: initial;
  top: initial;
  right: initial;
  transform: translateY(0);
}

.searchMessage {
  background-color: #f5fafb;
  padding: .9rem 2rem .6rem;
  margin: 0 -2rem 2.1rem;

  p {
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: -.02em;

    b {
      font-weight: 500;
    }

    &:not(:last-child) {
      margin-bottom: .2rem;
    }
  }

  p.searchMessage__notFound {
    padding: .3rem 0 .6rem;

    svg {
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: .8rem;
      vertical-align: middle;
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    background-color: initial;
    padding: 0 0 0 .7rem;
    margin: 0 -1.2rem;

    p {
      font-size: 1.4rem;
      margin: 0 1.2rem;
    }

    p.searchMessage__notFound {
      padding: 0;
    }

    p.searchMessage__instead {
      font-size: 1.2rem;
    }
  }
}

.searchBlock__result.searchMessageMisspelled .searchMessage {
  padding: 0 0 1.2rem 0;
  border-bottom: 1px solid #e3e4e7;
  margin: 0 -1.2rem 1.2rem;
}

.advancedBtn {
  display: block;
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  text-align: left;
  color: $color-tertiary-text-3;
  padding: 1.1rem 0 .8rem 0;
  margin-bottom: 1.6rem;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -2rem;
    width: calc(100% + 4rem);
    height: 1px;
    border-radius: 4px;
    background-color: #e3e4e7;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.6rem;
    display: inline-block;
    width: initial;
    color: #00b3b1;
    padding: .3rem 2.4rem 0 0;
    margin-bottom: initial;

    &::after {
      display: block;
      left: initial;
      bottom: 56%;
      transform: translateY(50%);
      right: -.8rem;
      height: 2.8rem;
      width: 1px;
      background-color: #e3e4e7;
      border-radius: 4px;
    }
  }
}

.searchBlock {
  position: relative;
  padding-bottom: 1.9rem;

  &:not(:last-of-type) {
    margin-bottom: 1.6rem;
  }

  @include media-breakpoint-up(lg) {
    &.searchBlock__pages {
      width: 22.8rem;
    }

    &.searchBlock__result {
      flex: 1;
      padding-left: 2.2rem;
      border-left: 1px solid #e3e4e7;
    }

    &.searchMessageMisspelled {
      padding: 0;
      border: none;
    }
  }
}

.searchTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: .4rem;
  margin-bottom: .6rem;

  span {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #9c9c9c;
    text-transform: uppercase;
  }

  .linkArrow {
    position: relative;
    font-weight: 500;
    font-size: 1.2rem;
    color: #00b3b1;
    padding-right: 2rem;
    transition: .3s;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: .7rem;

    .linkArrow {
      font-size: 1.4rem;
    }
  }
}

.product-item.searchItem {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-shadow: none;
  background-color: transparent;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  .product-item__content {
    flex: 1;
    padding: .2rem 0 0 1.2rem;
  }

  .product-item__img {
    width: 7.2rem;
    height: 7.2rem;

    img {
      max-width: 90%;
      max-height: 90%;
    }
  }

  .product-firm {
    margin-bottom: .5rem;
  }

  .product-item__title {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: .3rem;
  }

  .old-price {
    margin-left: .6rem;
  }

  @include media-breakpoint-up(lg) {
    .product-item__title {
      font-size: 1.4rem;
      line-height: 1.9rem;
      margin-bottom: 0;
    }

    .product-item__content {
      padding: .4rem 0 0 1.2rem;
    }

    .product-firm {
      margin-bottom: .3rem;
    }
  }
}

.searchBlock__list .subMenu__item {

  &.horizontalTitle {
    align-items: center;
    padding-bottom: 0;

    &:not(:last-child) {
      margin: 0 0 .8rem 0;
    }
  }

  &.horizontalTitle .subMenu__itemTitle {
    font-size: 1.2rem;
    line-height: 1.6rem;

    &::after {
      display: none;
    }
  }
}

.searchBlock__item {
  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  @include media-breakpoint-up(lg) {
    &:not(:last-child) {
      margin-bottom: 2.1rem;
    }
  }
}

.searchBlockList__item {
  &:not(:last-child) {
    margin-bottom: .6rem;
  }

  @include media-breakpoint-up(lg) {
    &:not(:last-child) {
      margin-bottom: .4rem;
    }
  }
}

.searchBlock__link {
  font-size: 1.2rem;
  color: $color-accent;
  letter-spacing: -.02em;

  @include media-breakpoint-up(lg) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.searchBlock:not(:last-of-type)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: calc(100% + 2.5rem);
  height: 1px;
  border-radius: 4px;
  background-color: #e3e4e7;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

// searchModal MODAL END

// Preferences MODAL START
.modalBlock.mobileView {
  border-radius: 20px 20px 0 0;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .5rem;
    width: 3.4rem;
    height: .4rem;
    background: #e3e4e7;
    border-radius: 2px;
  }
}

.modalBlock.preferencesModal,
.modalBlock.preferencesChecked {
  height: initial;
  top: initial;
  bottom: 0;
  background-color: $color-light;
  padding: 2.9rem 2rem 2rem;
  box-shadow: 0px -1px 4px rgba(63, 73, 83, .6);
  border-radius: 20px 20px 0 0;
  overflow: visible;

  @include media-breakpoint-up(lg) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: 37.4rem;
    padding: 3.2rem 4rem 4rem;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(169, 169, 169, .3);

    &::before {
      display: none;
    }
  }
}

.modalBlock.preferencesChecked {
  padding: 3.3rem 2rem 2rem;

  @include media-breakpoint-up(lg) {
    max-width: initial;
    padding: 1.7rem 0 1rem;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 20px rgba(46, 47, 50, .2);
  }
}

.preferencesModal__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.01em;
  color: #1a2226;
  text-align: center;
  margin-bottom: .7rem;

  @include media-breakpoint-up(lg) {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }
}

.modalBlock.preferencesModal .preferences {
  background-color: #f5fafb;
  border-radius: 4px;
}

.modalBlock.preferencesModal .preferencesItem {
  padding: 1.1rem 4rem .9rem 1.2rem;

  &::before {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    padding: .2rem 4rem .2rem 1.4rem;

    &::before {
      display: block;
    }
  }
}

.modalBlock.preferencesChecked .preferencesItem {
  padding: 0;

  &::before {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    border: none;
    justify-content: center;
  }
}

.modalBlock.preferencesChecked .preferencesItem__row {
  align-items: flex-start;

  @include media-breakpoint-up(lg) {
    justify-content: center;
  }
}

.modalBlock.preferencesChecked .preferencesItem__value {
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: -.01em;
  padding-top: 0;

  @include media-breakpoint-up(lg) {
    margin-bottom: .3rem;
  }
}

// Preferences MODAL END

// advanced MODAL START

.advancedSearch {
  @include media-breakpoint-up(lg) {
    width: 100%;
    max-width: 98.4rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $color-light;
    padding: 3.2rem 4rem 4rem;
    box-shadow: 0 2px 16px rgba(169, 169, 169, .3);
    border-radius: 8px;
  }
}

.advancedSearch .modalBlock__header {
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.advancedSearch .modalBlock__back {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.advancedSearch .modalBlock__title {
  @include media-breakpoint-up(lg) {
    width: 100%;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    color: #1a2226;
  }
}

.advancedSearch .modalBlock__content {
  padding: 2.4rem 2rem 0;
}

.advancedSearch__data {
  margin-bottom: 2.4rem;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.6rem 1.2rem;
  }
}

.advancedSearch__data .input,
.advancedSearch__data .select {
  @include media-breakpoint-up(lg) {
    width: calc(100% / 3 - 1.2rem);
    margin: 0 .6rem 1.2rem;
  }
}

.advancedSearch__data .input.inputName {
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.advancedSearch__data .input input {
  padding-top: 1.7rem;
}

.advancedSearch__data .input:not(:last-child) {
  margin-bottom: 1.2rem;
}

.advancedSearch__price {
  margin-bottom: 1.6rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 4.4rem;
  }
}

.advancedSearchPrice__title {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  color: #1a2226;
  margin-bottom: .8rem;

  @include media-breakpoint-up(lg) {
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.advancedSearchPrice__block {
  background-color: #f5fafb;
  padding: 1.6rem;
  border-radius: 4px;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.advancedSearch__price .inputRange {
  @include media-breakpoint-up(lg) {
    width: 42rem;
  }
}

.advancedSearchPrice__block .priceFilter {
  @include media-breakpoint-up(lg) {
    order: 2;
    width: 36.6rem;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.advancedOptions {
  position: relative;
  padding-bottom: 5.6rem;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin: 0 -.6rem;
  }
}

.advancedOptions__row {
  &:not(:last-child) {
    margin-bottom: .4rem;
  }

  @include media-breakpoint-up(lg) {
    width: calc(100% / 3 - 1.2rem);
    margin: 0 .6rem;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.advancedOptions__block {
  &:not(:last-child) {
    margin-bottom: .4rem;
  }

  &.active {
    margin-bottom: .8rem;
  }

  @include media-breakpoint-up(lg) {

    &:not(:last-child),
    &.active {
      margin-bottom: 1.2rem;
    }
  }
}

.advancedOptions__btn {
  position: relative;
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  color: $color-light;
  text-align: left;
  background-color: $color-darkblue-2;
  padding: 1rem 4rem 1rem 1.6rem;
  border-radius: 4px;

  @include media-breakpoint-up(lg) {
    font-size: 1.4rem;
    padding: .45rem 0;
    border-radius: 4px 4px 0 0;
    text-align: center;

    &::before {
      display: none;
    }
  }
}

.advancedOptions__block.active .advancedOptions__btn {
  border-radius: 4px 4px 0 0;

  &::before {
    transform: translateY(-50%) rotate(180deg);
  }
}

.advancedOptions__content {
  display: none;
  padding: 1.6rem 1.6rem 1.9rem;
  border: 1px solid #dedede;
  border-radius: 0 0 4px 4px;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.advancedOptions__block.active .advancedOptions__content {
  display: block;
}

.advancedOptions .searchTrigger {
  margin-bottom: 1.4rem;

  .search__btn {
    right: .8rem;
  }

  svg {
    fill: $color-secondary-text-2;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 1.1rem;
  }
}

.advancedOptions__content .checkbox {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 1.4rem;
  }

  @include media-breakpoint-up(lg) {
    &:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}

.advancedOptions__submit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-light;
  padding: .8rem 2rem;

  @include media-breakpoint-up(lg) {
    position: initial;
    padding: 2.4rem 0 0 0;
    text-align: center;
  }
}

.advancedOptions__submit button {
  display: block;
  width: 100%;
  height: 4rem;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: .2rem;
  letter-spacing: -.02em;
  color: $color-light;
  background-color: #00b3b1;
  border-radius: 4px;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    width: initial;
    height: initial;
    font-size: 1.4rem;
    padding: 2.1rem 3.2rem;
  }
}

// advanced MODAL END

.bottomSheet {

  [data-rsbs-overlay],
  [data-rsbs-backdrop],
  [data-rsbs-root]:after {
    z-index: 10000;

  }
}
