@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  + span,
  + button {
    margin-top: 1.2rem;
  }
}

.skeleton {
  min-height: 10rem;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
