@import "src/styles/mixins";
@import "src/styles/vars";

.wrapper {
  display: grid;
  grid-gap: 2.4rem;
}

.cardSelect {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;

  &.isQuickView {
    grid-gap: .8rem;
  }
}

//.goToAllSpecs {
  //margin: {
    //top: .8rem;
  //};
//}

.variant {

  &QuickView {

    grid-gap: 2rem;

    .cardSelect {
      margin-bottom: 0;
    }

    .optionsList {
      margin-bottom: .8rem;
    }
  }
}
