{
    "env": {
        "production": {
            "plugins": [
                [
                    "transform-react-remove-prop-types",
                    {
                        "mode": "remove",
                        "removeImport": true
                    }
                ]
            ]
        }
    },
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3.8"
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ]
}
