@import "src/styles/mixins";
@import "src/styles/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $color-light;
  border: 1px solid $color-light-5;
  padding: 3.2rem 4rem 2rem 4rem;
  border-radius: .8rem;

  @include media-breakpoint-down(lg) {
    border: none;
    padding: 2rem 3.2rem;
  }
}

.title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -.02em;
  margin-bottom: 1.6rem;
}

.input {
  margin-bottom: 1.2rem;
}

.checkbox {
  margin-bottom: 1.2rem;
}

.checkboxText {
  line-height: 2rem;
  font-size: 1.4rem;
  letter-spacing: -.02em;
  color: $color-secondary-text-2;
}

.checkboxLink {
  position: relative;
  padding: .1rem 0;
  line-height: 1;
  border-bottom: 1px solid currentColor;
}

.discoveredUsSelect {
  margin: {
    bottom: 1.6rem;
  };
}

.button {
  width: 100%;
  border-radius: .4rem;
  background-color: $color-primary;
  color: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  transition: all .3s;

  &.google {
    border: 1.5px solid $color-secondary-text-2;
    background-color: $color-light;
    padding: .8rem;
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: $color-secondary;
    }
  }

  &Simple {
    color: $color-dark;
    background-color: transparent;
    margin-top: .8rem;

    @include media-breakpoint-up(lg) {
      &:hover {
        color: #00b3b1;
        background-color: transparent;
      }
    }
  }
}

.googleIcon {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  margin-right: 1.2rem;
}

.googleText {
  color: $color-secondary-text-2;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
}

.options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.4rem;
}

.optionsTitle {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  color: #263238;
  margin-bottom: 1.3rem;
}
.optionsList {
  column-count: 2;
  width: 100%;
}
