@import "src/styles/_mixins";
@import "src/styles/_vars";


.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1.7rem;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 1.6rem;
    width: 1px;
    background-color: $color-darkblue-3;
    border-radius: 2px;
  }
}

.title {
  margin-right: 1.3rem;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  line-height: 1;
  color: #ECEFF1;
}

.trigger {
  &Icon {
    width: 1.8rem;
    height: 1.3rem;
    &Svg {
      width: 2.4rem;
      height: 2.4rem;
      display: block;
      color: $color-light;
      transform: rotate(90deg);
    }
  }

  &Value {
    position: relative;
    display: flex;
    align-items: center;

    img {
      display: block;
    }
  }
}


.modal {
  max-width: 37.4rem;
  width: 100%;

  &List {
    padding: {
      top: 1.6rem;
    };
    display: grid;
    grid-gap: 1.2rem;
  }
}

.langAndCurrencyRow {
  grid-gap: 1.2rem;
}
