
/**
 * Primary
 */
$color-primary: #00B3B1;


/**
 * Secondary
 */
$color-secondary: #F9BA49;


/**
 * Accent
 */
$color-accent: #314448;
$color-accent-2: #3E4B5B;


/**
 * Light
 */
$color-light: #fff;
$color-light-2: #F3F6F8;
$color-light-3: #F5FAFB;
$color-light-4: #EEF2F3;
$color-light-5: #E3E4E7;
$color-light-6: #eceff1;
$color-light-7: #cfd8dc;
$color-light-8: #f6fafb;
$color-light-9: #e8edf0;
$color-light-10: #EDEDED;
$color-light-11: #FEFCF7;

/**
 * Dark
 */
$color-dark: #000;
$color-darkblue: #090C28;
$color-darkblue-2: #364250;
$color-darkblue-3: #546477;
$color-darkblue-4: #313b48;
$color-darkblue-5: #78909c;

/**
 * Text
 */
$color-secondary-text-2: #263238;
$color-tertiary-text-3: #979797;


/**
 * Title
 */
$color-title: #1A2226;


/**
 * Options
 */
$color-sale: #E95E70;
$color-new: $color-secondary;
