@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 1.2rem;

  @include media-breakpoint-down(md) {
    margin-bottom: .4rem;

    .content {
      display: none;
    }

    &.isActive {

      .header {

        svg {
          transform: rotate(0);
        }

      }

      .content {
        display: flex;
      }

    }
  }
}

.header {
  background-color: $color-darkblue-2;
  border-radius: 4px 4px 0 0;
  display: flex;
  padding: .4rem;

  @include media-breakpoint-down(md) {
    padding: .8rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    display: none;
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(180deg);

    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1.6rem 1.6rem;
  border: {
    left: 1px solid #DEDEDE;
    bottom: 1px solid #DEDEDE;
    right: 1px solid #DEDEDE;;
  }
  border-radius: 0 0 4px 4px;

  @include media-breakpoint-down(md) {
    margin-bottom: .4rem;
    padding-bottom: 1.6rem;
  }
}

.title {
  margin: 0 auto;
  color: $color-light;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;

  @include media-breakpoint-down(md) {
    margin: 0;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  color: $color-light;
  transform: rotate(270deg);

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.iconText {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.02em;
  color: $color-secondary-text-2;
}

.variant {

  &List {
    box-shadow: 0 2px 16px rgba(204, 218, 221, .5);
    border-radius: .4rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -.4rem;
      top: 0;
      height: 100%;
      width: .4rem;
      border-radius: .8rem .4rem .4rem .8rem;
      background-color: $color-secondary;
      transition: .1s;
    }

    &:not(:last-child) {
      margin-bottom: .4rem;
    }

    .header {
      background-color: $color-light;
      padding: 1.6rem 2rem;

      @include media-breakpoint-down(lg) {
        padding: 1.2rem .8rem 1.2rem 1.6rem;
      }
    }

    .title {
      color: $color-secondary-text-2;
      margin-left: 0;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;

      @include media-breakpoint-down(lg) {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }

    .content {
      display: none;
      border: none;
      padding: 0 2rem 1.6rem 2rem;
      margin-top: -.8rem;
      font-size: 1.6rem;

      @include media-breakpoint-down(lg) {
        margin-top: 0;
        font-size: 1.4rem;
        padding: 0 1.6rem 1.2rem 1.6rem;
      }
    }

    .icon {
      color: $color-tertiary-text-3;
      transform: rotate(-180deg);
    }

    &.isActive {

      &::before {
        left: 0;
        width: .4rem;
      }

      .content {
        display: flex;
      }

      .icon {
        transform: rotate(-90deg);
      }

      @include media-breakpoint-down(lg) {
        .icon {
          transform: rotate(0deg);
        }
      }
    }



  }

}

.bottomSheet {
  padding: 0 2rem 2rem 2rem;
}

.bottomSheetHeader {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.01em;
  margin-bottom: 1.6rem;
  margin-top: 1rem;
}

.bottomSheetTitle {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  margin-bottom: .8rem;
}

.bottomSheetContent {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -.02em;
}
