@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
    position: relative;
    min-height: 36.1rem;
    padding-top: 3.2rem;
    background: #394856;
    display: flex;

    @include media-breakpoint-up(lg) {
        min-height: 25.2rem;
        padding: 0 2rem;
        border-radius: .8rem;
    }
}

.container {
    display: flex;
}

.main {
    position: relative;

    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: column;
        max-width: 70rem;
        padding: 4.4rem 0 3.9rem 7.1rem;
    }
}

.title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.2rem;
    letter-spacing: -.02em;
    color: $color-light;
    margin-bottom: 1.2rem;

    @include media-breakpoint-up(lg) {
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 1rem;
    }
}

.text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.02em;
    color: $color-light;
    margin-bottom: 1.2rem;
    flex: 1;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: none;
    }

    @supports (-webkit-box-orient: vertical) {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
    }
}

.linkArrow {
    font-size: 1.4rem;

    @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media-breakpoint-up(lg) {
        object-position: right bottom;
        border-radius: .8rem;
    }
}

.skeleton {
    width: 100%;
    min-height: 25.2rem;
    display: flex;
    margin: 0 0 4rem;

    @include media-breakpoint-down(lg) {
        height: 36rem;
        width: calc(100% + 4rem);
        margin: 0 -2rem 0 -2rem;
    }
}
