@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
    margin: {
        bottom: -4.8rem;
    };

    @include media-breakpoint-up(lg) {
        margin: {
            bottom: -8rem;
        };
    }
}

.productsCarouselSection {

}

.main {
    padding-top: 2.1rem;

    @include media-breakpoint-up(lg) {
        padding-top: 4.1rem;
    }

    @include media-breakpoint-down(lg) {
        padding-top: 0;
    }
}

.split {

    &LinkArrow {
        font-size: 1.3rem;

        &::after {
            width: 2rem;
            height: 2rem;
        }
    }

    &Description {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(lg) {
            border-radius: 0 0 4px 4px;
            border: 1px solid $color-light-5;
            padding: 1.6rem 1.2rem;
        }

        &Title {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: -.02em;
            color: $color-title;
            margin-bottom: .8rem;
        }

        &Text {
            font-size: 1.4rem;
            line-height: 2.2rem;
            letter-spacing: -.02em;
            color: $color-secondary-text-2;

            @include media-breakpoint-down(lg) {
                @include text-line-clamp(3);
            }
        }
    }

    &Double {
        display: flex;
        flex-direction: column;
        width: 100%;

        .splitHeader {
            margin-bottom: 1.6rem;
        }
    }

    &Container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }

    &Buttons {
        display: flex;

        @include media-breakpoint-down(lg) {
            background-color: $color-light-3;
            border-radius: 4px;
            padding: 1.2rem;
        }
    }

    &Button {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 500;
        font-family: inherit;
        letter-spacing: -.02em;
        color: $color-primary;
        border: .2rem solid currentColor;
        padding: 1rem 2.8rem;
        border-radius: 4px;
        transition: .3s;

        @include media-breakpoint-up(lg) {
            &:hover {
                background-color: $color-light-4;
            }
        }

        @include media-breakpoint-down(lg) {
            padding: .6rem;
            font-size: 1.3rem;
            min-width: 14.4rem;
        }

        &:not(:first-child) {
            margin-left: .8rem;
        }
    }

    &Param {
        &Rating {
            display: inline-flex;
            align-items: center;
            //padding: 0 .4rem;
            //background-color: $color-light;
            //box-shadow: 0 2px 6px rgba(204, 208, 210, .4);
            margin-left: .5rem;
        }
    }

    &Item {

        &:first-child {
            margin-bottom: 2.4rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 1.6rem;
            }
        }

        &:not(:first-child) {
            margin-top: .8rem;
            margin-bottom: 2.4rem;

            @include media-breakpoint-down(lg) {
                margin-bottom: 1.6rem;
            }
        }
    }

    &User {
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
    }

    &ReadMore {
        color: $color-primary;
        font-size: inherit;
        font-weight: 500;
    }

    &StarIcon {
        width: 1.6rem;
        height: 1.6rem;
        color: $color-darkblue-2;
    }

}

// content tab

.tabColored {
    background-color: $color-light;
}

.cardHeader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &Container {
        width: 100%;
    }

    &Bottom {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding-top: .8rem;
        padding-bottom: 1.2rem;
        grid-gap: 3.2rem;

        @include media-breakpoint-up(lg) {
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: .1rem;
                border-radius: .2rem;
                background-color: $color-light-5;
            }
        }

        @include media-breakpoint-down(lg) {
            padding-bottom: 1.6rem;
        }
    }
}

.cardHeaderTitle {
    font-size: 2.6rem;
    line-height: 3.9rem;
    letter-spacing: -.01em;
    color: $color-title;
    margin-bottom: 1.6rem;
    font-weight: 700;

    @include media-breakpoint-down(lg) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 0;
    }
}


.cardContent {
    background-color: #F8FAFB;
    padding-top: 2.4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
        padding: 0;
    }
}

.cardContentContainer {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(lg) {
        max-width: 100%;
        flex-direction: column;
    }
}

.gallery {
    @include media-breakpoint-down(lg) {
        width: calc(100% + 4rem);
        margin: {
            left: -2rem;
            right: -2rem;
        };
    }

    @include media-breakpoint-up(lg) {
        width: 55.6rem;
    }
}

.cardWrapper {
    display: grid;
    grid-gap: 2.4rem;
    margin: 0 4rem;
    width: 49rem;

    &Full {
        grid-gap: .8rem;
    }

    @include media-breakpoint-down(lg) {
        width: 100%;
        margin: 0;
    }
}

.cardSeller {
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 2rem;
    }
}

.cardContentContainerDelivery {
    width: 100%;
    margin-top: 1.2rem;
    padding: 1.5rem 4rem;
}

.cardHeaderSkeleton {
    width: 100%;
    min-height: 3.9rem;
    margin: 4rem 0 1.6rem;

    @include media-breakpoint-down(lg) {
        margin: 1.5rem 0 .8rem;
    }
}

.cardHeaderBottomSkeleton {
    width: 100%;
    min-height: 5rem;
    margin: .8rem 0 1.2rem;

    @include media-breakpoint-down(lg) {
        min-height: 2rem;
        margin-bottom: 1.6rem;
    }
}

.cardWrapperSkeleton {
    display: grid;
    grid-gap: 2.4rem;
    margin: 0 4rem;
    width: 49rem;

    @include media-breakpoint-down(lg) {
        width: 100%;
        margin: 0;
    }
}

.cardPriceSkeleton {

}

.cardSubscriptionSkeleton {

}

.cardFormFooterSkeleton {

}

.cardLinkArrowSkeleton {
    margin-top: -1.2rem;
}

.productSliderSkeleton {
    margin: 12rem 0;
}

.cardContentContainerSkeleton {
    padding: 2.4rem 0;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
        padding: 0;
        align-items: stretch;
    }
}

.cardContentGallery {
    position: sticky;
    top: 2rem;
    flex: 1;

    @include media-breakpoint-down(lg) {
        position: relative;
        width: 100%;
        top: 0;
    }
}

.cardContentWrapper {
    @include media-breakpoint-down(lg) {
        width: 100%;
        margin: 0;
    }
}
