@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.wrapper {
  background: #364250;
  height: 4.8rem;
  display: flex;
  align-items: center;
}

.main {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: #fff;
  padding: .6rem 2rem .6rem .6rem;
  flex: 1;
}


.back {
  width: 6rem;
  padding: 1.2rem 0 1.2rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;

  &Icon {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    color: $color-light;
  }
}

.icon {

}
