@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

%cardSizes {
  min-height: 7.2rem;
}

.wrapper {
  @extend %cardSizes;

  display: flex;

  @include media-breakpoint-up(lg) {
    &:hover {
      .title,
      .brand,
      .price {
        color: $color-primary;
      }
    }
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  grid-gap: .8rem;
}

.image {
  width: 7.2rem;
  height: 7.2rem;
  position: relative;
  box-shadow: 0 2px 6px rgba(204, 208, 210, .4);
  border-radius: 4px;

  &Item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;
  width: calc(100% - 7.2rem);
}

.title {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  font-weight: 500;
  color: $color-tertiary-text-3;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.brand {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $color-darkblue-5;
  margin-bottom: .4rem;
}

.price {
  display: flex;
}


.skeleton {
  @extend %cardSizes;
}