@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  flex: 1;
  background-color: $color-light-3;
  border-radius: .8rem;
  padding: 1.6rem;
  grid-gap: 1.2rem;

  @include media-breakpoint-down(lg) {
    background-color: #fff;
  }
}

.image {
  width: 5.6rem;
  height: 5.6rem;

  @include media-breakpoint-down(lg) {
    width: 6.4rem;
    height: 6.4rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.header {
  margin-bottom: 1.2rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: .4rem;
  }
}

.headerTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.02em;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
    line-height: 1.6rem;
    white-space: initial;

    @include text-line-clamp(2);
  }
}

.bottomContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.params {
  @include media-breakpoint-down(lg) {
    margin-bottom: 1.2rem;
  }
}

.param {
  display: flex;
  color: $color-tertiary-text-3;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -.02em;

  &:not(:last-child) {
    margin-bottom: .4rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
  }
}

.paramTitle {
  margin-right: .4rem;
}

.paramValue {
  @include media-breakpoint-down(lg) {
    color: $color-secondary-text-2;
  }
}

.control {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    justify-content: space-between;
    width: 100%;
  }
}

.controlCounter {

}

.controlPrice {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
}
