@import "../../../../../../styles/mixins";
@import "../../../../../../styles/vars";

.wrapper {

}

.buttons {

  @include media-breakpoint-down(lg) {
    background-color: $color-light-3;
    border-radius: 4px;
    padding: 1.2rem;
  }
}

.button {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: -.02em;
  color: $color-primary;
  border: .2rem solid currentColor;
  padding: 1rem 2.8rem;
  border-radius: 4px;
  transition: .3s;

  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: $color-light-4;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: .6rem;
    font-size: 1.3rem;
    min-width: 14.4rem;
  }

  &:not(:first-child) {
    margin-left: .8rem;
  }
}


.item {
  &:first-child {
    margin-bottom: 2.4rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: 1.6rem;
    }
  }

  &:not(:first-child) {
    margin-top: .8rem;
    margin-bottom: 2.4rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: 1.6rem;
    }
  }
}

.question {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
}

.answer {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
}

.name {
  font-weight: 700;
}

.readMore {
  color: $color-primary;
  font-size: inherit;
  font-weight: 500;
}