@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;

  &>div {
    position: relative;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      height: 1.6rem;
      border-right: 1px solid #546477;
      top: 50%;
      transform: translateY(-50%);
      right: -1.6rem;
    }

    &:first-child {
      margin: 0 1.6rem 0 0;
    }

    &:not(:first-child) {
      margin: 0 1.6rem;
    }
  }
}

.button {

}

.dropdown {
  position: absolute;
  top: 100%;
  min-width: 22.2rem;
  right: 0;
  background: $color-light;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 .4rem .4rem;
  z-index: 1;

  &Item {
    display: flex;
    align-items: center;
  }

  &Icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &Text {

  }

}
