@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @include media-breakpoint-down(lg) {
    flex-direction: row;
    align-items: center;
  }

  &:not(:last-child) {
    padding: 0 6rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      border-radius: .4rem;
      background-color: $color-light-5;
    }

    @include media-breakpoint-down(lg) {
      padding: 0 0 0 1.6rem;
      margin-bottom: 1.2rem;

      &::after {
        content: none;
      }
    }
  }

  &:last-child {
    padding: 0 6rem;

    @include media-breakpoint-down(lg) {
      padding: 0 0 0 1.6rem;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-left: 1.6rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background-color: $color-secondary;
    }
  }

}

.counter {
  color: $color-secondary;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-align: center;

  @include media-breakpoint-down(lg) {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: -.02em;
    color: $color-secondary-text-2;
    padding-right: .2rem;
  }
}

.content {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: -.02em;
  text-align: center;

  @include media-breakpoint-down(lg) {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
