@import "src/styles/_mixins";
@import "src/styles/_vars";

.productListWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.2rem;
    grid-column-gap: 0.6rem;
  }
}

.seoBlock {
  margin-top: 2rem;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }
}

.filterContentProductList {
  margin-bottom: .8rem;
}

.filter {
  margin-right: 2.7rem;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }
}

.banner {
  @include media-breakpoint-down(lg) {
    margin-bottom: 2rem;
  }
}
