@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  :global {

    h3 {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: -0.02em;
      color: $color-title;

      + p {
        margin: {
          top: 1.2rem;
        };
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2.2rem;
      letter-spacing: -0.02em;
      color: $color-secondary-text-2;

      + h3 {
        margin: {
          top: 1.6rem;
        };
      }

      + h4 {
        margin: {
          top: 1.6rem;
        };
      }
    }

    h4 {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.2rem;
      letter-spacing: -0.02em;
      color: $color-secondary-text-2;
      margin: {
        bottom: .4rem;
      };
    }

    ul {
      font-size: 1.4rem;
      line-height: 2.4rem;
      letter-spacing: -0.02em;

      li {
        list-style-type: none;

        &:before {
          content: '•';
          color: $color-secondary;
          display: inline-block;
          margin: {
            right: .4rem;
          };
        }
      }
    }
  }
}
