@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.wrapper {
  width: 38rem;
  border-radius: .8rem;
  overflow: hidden;
  background-color: #f5f7f8;

  @include media-breakpoint-down(lg) {
    min-height: 100vh;
    background-color: $color-light;
    width: 100%;
  }
}
