@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  grid-gap: 1.2rem;
  background: $color-light;
  border: 1px solid $color-light-5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 3.2rem;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    padding: 1.2rem;
  }

  ~ {
    h3, p, img {
      margin: {
        top: 1.6rem;
      };
    }
  }

}

.column {
  flex: 1;

  tr, td, table, tbody {
    border: none!important;
    height: auto!important;
    width: unset!important;
  }

  table {
    display: flex;
    flex-direction: column;
  }

  tr {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-up(lg) {
    tr {
      padding: .8rem 0;
    }
  }

  @include media-breakpoint-down(lg) {
    tr:not(:last-of-type) {
      padding: .8rem 0;
    }

    tr:last-of-type {
      padding: .8rem 0 0 0;
    }
  }

  td {
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.02em;
    color: $color-secondary-text-2;

    @include media-breakpoint-down(lg) {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    &:last-of-type {
      flex: 1;
    }

    &:first-of-type {
      box-shadow: 0 2px 6px rgba(204, 208, 210, .4);
      border-radius: 4px;
      background: $color-light;
      width: 4rem !important;
      min-width: 4rem !important;
      height: 4rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: {
        right: 1.2rem;
      };

      img {
        max-width: 90%;
        max-height: 90%;
      }
    }
  }

  caption, h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: $color-title;
    text-align: left;
  }

  caption {
    @include media-breakpoint-down(lg) {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

}
