@import "src/styles/_mixins";
@import "src/styles/_vars";

.comparePage {
  padding-top: 1.2rem;

  @include media-breakpoint-down(lg) {
    padding-top: 0;
    height: 100%;
  }
}

.compareBack {
  display: flex;
  align-items: center;
  cursor: pointer;

  &Icon {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    margin-right: .6rem;
  }

  &Title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -.02em;
    color: #4F4F4F;
  }
}

.compareSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  &Title {
    margin: 0 auto;
    font-size: 2.6rem;
    line-height: 3.9rem;
    letter-spacing: -.01em;
    color: #263238;
  }
}

.row {
  cursor: default;

  &:first-child,
  &:last-child {
    background-color: $color-light;
  }

  @include media-breakpoint-down(lg) {
    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &:hover {
    background-color: transparent;
  }
}

.cell {
  height: 100%;
  justify-content: space-between;
  padding-left: 0;

  &:first-child {
    padding-left: 0;

    @include media-breakpoint-down(lg) {
      padding-left: 2rem;
    }
  }
}

.stretch {
  display: flex;

  @include media-breakpoint-down(lg) {
    padding: 0;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.clear {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-secondary-text-2;

  @include media-breakpoint-down(lg) {
    color: rgba($color-light, .8);
  }

  &Icon {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    margin-right: .4rem;
  }

  &Title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -.02em;
  }
}


.delete {
  border-radius: .4rem;
  border: 2px solid #00B3B1;
  padding: .6rem;
  transition: .3s;

  &Icon {
    color: #00B3B1;
    width: 2.4rem;
    height: 2.4rem;
    display: block;

    @include media-breakpoint-down(lg) {
      width: 2rem;
      height: 2rem;
    }
  }

  &:hover {
    background-color: #eee;
  }
}

.add {
  background-color: #00B3B1;
  border-radius: .4rem;
  flex: 1;
  color: $color-light;
  transition: .3s;

  @include media-breakpoint-down(lg) {
    width: 12.9rem;
    height: 3.2rem;
    padding: 0;
  }

  &Title {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 2rem;
    white-space: nowrap;
  }

  &:hover {
    background-color: #F9BA49;
  }
}

.delete {
  margin-right: .4rem;

  @include media-breakpoint-down(lg) {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.control {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}

.scrollWrapper {
  @include media-breakpoint-down(lg) {
    overflow-y: auto;
    height: 100%;
    display: flex;
  }
}

.checkbox {
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
  }
}

.contentWrapper {

}

.comparePageSectionSkeleton {
  width: 30%;
  min-height: 5rem;
  margin: 4rem auto 1.4rem;
}

.comparePageScrollWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 22.4rem repeat(5, 20.2rem);
  grid-gap: 2.4rem;

  @include media-breakpoint-down(lg) {
    grid-template-columns: auto repeat(5, 1fr);
    grid-gap: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
  }
}

.comparePageCellSkeleton {
  padding: .8rem 0;
  width: 20.2rem;

  @include media-breakpoint-down(lg) {
    width: 14rem;

    &:not(:first-child) {
      width: 16.5rem;
    }
  }
}

.comparePageCellBtnSkeleton {
  width: 100%;
  min-height: 2.8rem;

  @include media-breakpoint-down(lg) {
    margin-top: auto;
  }
}

.comparePageParamsSkeleton {
  grid-gap: .2rem;
  margin-top: 2.5rem;
  font-size: 2.2rem;

  @include media-breakpoint-down(lg) {
    margin: 4.7rem -2rem 2rem;
    width: calc(100% + 4rem);
  }
}
