@use "sass:math";

@import "src/styles/_mixins";
@import "src/styles/_vars";

$local-input-padding-top: 2;

%isActiveLabel {
  top: .3rem;
  transform: none;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.wrapper {
  position: relative;

  &.isDropdown {

    .main {
      border-color: $color-tertiary-text-3;
    }

    .labelIcon {
      transform: translateY(-50%) rotate(270deg);
    }

    &:after {
      content: '';
      height: .6rem;
      display: block;
      position: absolute;
      top: calc(100% - .6rem);
      left: 0;
      width: 100%;
      border: solid $color-light-5;
      border-width: 0 1.5px 1.5px 0;
    }

  }

  &.isActive {
    .label {
      @extend %isActiveLabel;
    }

  }

}
.main {
  border: 1.5px solid $color-light-5;
  min-height: 4.4rem;
  border-radius: .4rem;
  background: $color-light;
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.select {
  display: none;
}

.input {
  flex: 1;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: $color-secondary-text-2;
  padding: #{$local-input-padding-top * 1rem} 1.6rem .2rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &[disabled] {
    cursor: pointer;
  }

  &:focus,
  &:valid {
    ~ .label {
      @extend %isActiveLabel;
    }
  }

  &Result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
}

.icon {
  $local-icon-size: 1.6;
  $local-icon-left: 1.6;

  width: 100%;
  max-height: 100%;
  display: block;

  &Container {
    position: absolute;
    top: #{($local-input-padding-top * 1rem) + .2rem};
    left: #{$local-icon-left * 1rem};
    width: #{$local-icon-size * 1rem};
    height: #{$local-icon-size * 1rem};
    display: flex;
    align-items: center;
    justify-content: center;

    ~ .input {
      padding: {
        left: #{($local-icon-size * 2rem) + .8rem}
      };
    }

    ~ .label {
      @extend %isActiveLabel;
    }

  }

}


.arrow {

}

.label {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: $color-tertiary-text-3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 1.6rem;
  right: 3.2rem;
  pointer-events: none;
  text-align: left;
  &Icon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%) rotate(90deg);
    color: $color-secondary-text-2;
  }
}

.dropdown {
  background: $color-light;
  position: absolute;
  top: 100%;
  border: 1.5px solid $color-light-5;
  border-top: none;
  border-radius: 0 0 .4rem .4rem;
  left: 0;
  width: 100%;
  max-height: 24rem;
  padding: .6rem 0;
  z-index: 99999999;
  display: flex;

  &List {
    overflow-y: auto;
    width: 100%;
    max-height: 100%;

  }
}

.item {
  padding: .6rem 1.6rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:hover {
    .itemLabel {
      color: $color-secondary-text-2;
    }

  }

  &.isActive {

    .itemLabel {
      color: $color-secondary-text-2;
    }

    &:before {
      opacity: 1;
    }

  }

  &Icon {
    display: block;
    width: 1.6rem;
    max-height: 1.6rem;
    margin: {
      right: .8rem;
    };
  }

  &Label {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: -0.02em;
    color: $color-tertiary-text-3;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:before {
    $local-item-active-mark-size: .4;
    content: '';
    display: block;
    position: absolute;
    width: #{$local-item-active-mark-size * 1rem};
    height: #{$local-item-active-mark-size * 1rem};
    background: $color-secondary-text-2;
    border-radius: 50%;
    opacity: 0;
    left: .8rem;
    top: 50%;
    margin: {
      top: #{math.div(-$local-item-active-mark-size, 2) * 1rem};
    };
  }

}
