@import "../../../styles/mixins";
@import "../../../styles/vars";

.sellerBlock {
    margin-bottom: 5rem;

    @include media-breakpoint-up(lg) {
        display: flex;
        margin-bottom: 8rem;
    }
}

.sellerBlock__left {
    padding: 2.6rem 2rem 2.4rem;
    background-color: rgba(#00b3b1, 0.1);

    @include media-breakpoint-up(lg) {
        width: 50%;
        padding: 6.3rem 6.2rem 5.6rem calc(50% - 65.8rem);
    }
}

.sellerBlock .section-title {
    line-height: 2.6rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
        margin-bottom: 3.2rem;
        letter-spacing: -0.02em;

        br {
            display: none;
        }
    }
}

.sellerBlock__left .section-title {
    margin-bottom: 1.2rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 3.8rem;
    }
}

.sellerList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0 1.7rem;
    box-shadow: 0 2px 8px rgba(204, 218, 221, 0.5);
    border-radius: 4px;
    margin-bottom: 1.6rem;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(#f9ba49, 0.25);
        border-radius: 4px;
    }
    &::before {
        width: 1px;
        height: calc(100% - 1.6rem);
    }
    &::after {
        width: calc(100% - 1.6rem);
        height: 1px;
    }

    @include media-breakpoint-up(lg) {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0 -0.6rem 2.3rem;

        &::before,
        &::after {
            display: none;
        }
    }
}

.sellerItem {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0.8rem 0;

    &:nth-child(-n + 2) {
        padding: 0.6rem 0 1rem;
    }

    &:nth-child(even) {
        padding: 0.8rem 0 0.8rem 1.6rem;
    }

    @include media-breakpoint-up(lg) {
        width: calc(100% / 4 - 1.2rem);
        flex-direction: column;
        background-color: #fff;
        padding: 2.4rem 0.5rem 2rem;
        box-shadow: 0 2px 16px rgba(204, 218, 221, 0.5);
        border-radius: 8px;
        margin: 0 0.6rem;

        &:nth-child(-n + 2),
        &:nth-child(even) {
            padding: 2.4rem 0.5rem 2rem;
        }

        &:last-child {
            padding-top: 2.2rem;

            .sellerItem__title {
                padding-top: 1rem;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &:last-child {
            .sellerItem__title {
                margin-left: 0.3rem;
            }
        }
    }
}

.sellerItem__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.4rem;

    svg {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        width: 5.2rem;
        height: 5.2rem;
        background: initial;
        margin: 0 0 0.8rem 0;

        svg {
            display: block;
        }
    }
}

.sellerItem__title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -0.02em;
    color: #263238;

    @include media-breakpoint-up(lg) {
        max-width: 8rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: center;
        margin: 0 auto;
    }
}

.sellerBlock__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
        width: 48.75%;
    }

    @include media-breakpoint-up(lg) {
        justify-content: center;

        .button {
            width: 20.1rem;

            &:not(:last-child) {
                margin-right: 1.7rem;
            }
        }
    }
}

.sellerBlock__right {
    padding: 3.5rem 2rem 0;
    background-color: #f5fafb;

    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 6.3rem calc(50% - 66.6rem) 0 5.4rem;
    }
}

.sellerBlock__right .section-title {
    margin-bottom: 0.7rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.9rem;
    }
}

.sellerBlock__subtitle {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #263238;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.sellerBlock__right .sellerBlock__subtitle {
    margin-bottom: 1.3rem;
}

.sellerBlockRight__img {
    width: 34rem;
    margin-left: -0.6rem;

    @include media-breakpoint-up(md) {
        margin: 0 auto;
    }
    @include media-breakpoint-up(lg) {
        width: 100%;
        margin: auto 0 0;
    }
}
