@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

.header {
  background-color: $color-darkblue-2;
  height: 4.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.headerTitle {
  color: $color-light;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  font-weight: 400;
  text-align: center;
}

.close {
  width: 4rem;
  height: 4rem;
  background-color: $color-darkblue-2;
  border-radius: 4px;
  position: fixed;
  right: 1.2rem;
  top: .4rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  color: $color-light;
}
