@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

.main {
  padding-top: 0;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

.header {
  width: 100%;
  min-height: 2.4rem;
  margin: 0 0 1.2rem;

  @include media-breakpoint-down(lg) {
    min-height: 3rem;
  }
}

.content {
  width: 100%;
  min-height: 6.6rem;
  margin: 0 0 2.6rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
    min-height: 4.3rem;
  }
}
