@import "src/styles/_mixins";
@import "src/styles/_vars";

.sectionTitle {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -.01em;
    color: $color-title;

    @include media-breakpoint-up(md) {
      font-size: 2.6rem;
      line-height: 3.9rem;
    }
}