@mixin minus-margin-horizontal($count: 2rem, $isAbsolute: false) {

  @if $isAbsolute {
    left: -$count;
    width: calc(100% + (#{$count} * 2));
  }
  @else {
    margin-left: -$count;
    margin-right: -$count;
    width: calc(100% + (#{$count} * 2));
  }
}
