@import "src/styles/_mixins";
@import "src/styles/_vars";

.subscription {
  display: flex;
  padding: 0 2.4rem;

  &Title {
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.02em;
    color: $color-tertiary-text-3;
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
  }

  &Options {
    position: absolute;
    bottom: .5rem;
    left: 0;
    text-align: left;
    width: 37.3rem;
    border-radius: 4px;
    box-shadow: 0 2px 16px rgba(204, 218, 221, .5);
    background-color: $color-light;
    overflow: hidden;
  }

  &Select {
    position: relative;

    &Button {
      display: flex;
      border-radius: 4px;
      background-color: #F5FAFB;
      padding: .4rem 1.2rem;
      align-items: center;
    }

    &Icon {
      width: 2.4rem;
      height: 2.4rem;
      display: block;
      transform: rotate(90deg);
    }

    &Content {
      display: flex;
      flex-direction: column;
      margin-right: 1.7rem;
      text-align: left;
    }

    &OldPrice {
      color: #979797;
      font-size: 1.2rem;
      line-height: 1.6rem;
      letter-spacing: -.02em;
      text-decoration: line-through;
      padding-left: .4rem;
    }

    &Price {
      display: flex;
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 500;
      letter-spacing: -.02em;
      text-transform: uppercase;
      align-items: center;

      &Icon {
        width: 1.2rem;
        height: 1.2rem;
        display: block;
        margin-left: .4rem;
      }

    }

    &Type {
      font-size: 1.4rem;
      line-height: 2.2rem;
      letter-spacing: -.02em;
    }
  }
}

.subscriptionOptionContent {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.subscriptionOption {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px solid $color-light-4;
      margin: 0 1.2rem 0 1.6rem;
    }
  }

  .subscriptionOptionType {
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.02em;
    padding-bottom: .4rem;
  }

  .subscriptionOptionPrice {
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: -.02em;

    &.isColored {
      color: #4F4F4F;
    }

    &After {
      padding-left: .8rem;
      color: $color-tertiary-text-3;
    }
  }

  .subscriptionOptionDescription {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $color-tertiary-text-3;
    padding-top: .4rem;
  }
}

.checkbox {
  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    &:hover {
      background: $color-light-2;
    }
  }
}