@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -.02em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.toggleWrapper {
  min-width: 4.6rem;
  height: 2.4rem;
  border-radius: 3.66rem;
  background-color: $color-light-3;
  position: relative;
  transition: all .3s;
  padding-left: .4rem;
}

.toggle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.1);
  background-color: $color-light;
  position: absolute;
  top: 0.17rem;
  left: .2rem;
  transition: inherit;
  border: .05rem solid rgba(0, 0, 0, .04);
}

.isActive {
  background-color: $color-light;

  .toggleWrapper {
    background-color: $color-primary;
  }

  .toggle {
    left: calc(100% - 2.2rem);
  }
}
