@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -.02em;
  color: #EB5757;
  margin-top: .4rem;
  display: inline-block;
}
