@import "src/styles/_mixins";
@import "src/styles/_vars";

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 40rem;
  margin: 4rem auto;

  @include media-breakpoint-down(lg) {

  }

  @include media-breakpoint-down(sm) {

    max-width: 22rem;
    margin-top: 2rem;
    margin-bottom: 4.8rem;

    &__value {
      width: 10.3rem;
    }

  }

}

.text {
  color: $color-tertiary-text-3;
  letter-spacing: -0.02rem;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.4rem;
}

.progress {
  width: 100%;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: $color-light-4;
  margin-bottom: 2.4rem;
}

.value {
  width: 21.5rem;
  background-color: $color-accent-2;
  opacity: .5;
  height: 100%;
  border-radius: inherit;
}

.button {
  padding: 1rem 2.8rem;
  color: $color-primary;
  border: 0.2rem solid $color-primary;
  border-radius: 4px;
  font-family: inherit;
  margin: 0 auto;
  transition: .3s;

  &Text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -.02em;
    color: currentColor;
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: $color-light-4;
    }
  }
}

.skeleton {
  min-height: 9.6rem;
  max-width: 40rem;
  width: 100%;
  margin:  4rem auto;

  @include media-breakpoint-down(lg) {
    max-width: 22rem;
    margin-top: 2rem;
    margin-bottom: 4.8rem;
  }
}
