@import "src/styles/_mixins";
@import "src/styles/_vars";

.viewBlock {
    display: flex;
    border-radius: 2px;

    @include media-breakpoint-up(lg) {
        align-items: center;

        &>span {
            padding-left: 1.6rem;
            color: #979797;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    @include media-breakpoint-down(lg) {
        margin-left: .4rem;
        padding: .3rem .4rem;
    }
}

.viewBtn {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    svg {
        width: 2.4rem;
        height: 2.4rem;
        color: $color-secondary-text-2;
    }

    &.active {
        background-color: $color-darkblue-2;

        svg {
            color: $color-light;
        }
    }
}

.viewBlock__count {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        font-size: 1.4rem;
        letter-spacing: -.02em;
        color: $color-tertiary-text-3;
        margin-left: 1.2rem;
    }
}
