@import "src/styles/mixins";
@import "src/styles/vars";

.cardInfo {
  display: flex;
  flex-direction: column;
  background-color: $color-light;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(204, 218, 221, .25);
  padding: 1.4rem 1.6rem;
  position: relative;
  width: 100%;

  @include media-breakpoint-down(lg) {
    padding: 1.2rem;
  }
}


.cardEmpty {
  justify-content: flex-start;

  @include media-breakpoint-down(lg) {
    background-color: $color-light;
    padding: .8rem 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    width: calc(100% + 4rem);
  }

  &QuickView {
    margin-top: .8rem;
  }
}

.cardInfoSplitConfirm.cardEmptyButton {
  flex: unset;
  height: 4rem;
}

.cardEmptyButton.cardEmptyProductButton {
  flex: 1;
}

.cardInfoSplitConfirm {
  flex: 1;
  height: 4.8rem;
  padding: .8rem 2.8rem;
}



.cardInfoCommercial {
  @include media-breakpoint-down(lg) {
    margin-top: 1.2rem;
  }
}


.cardInfoSplit {
  display: flex;
  justify-content: space-between;
}


.price {
  display: flex;
  align-items: center;

  &Current {
    font-size: 2.6rem;
    line-height: 3.9rem;
    letter-spacing: -.01em;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: unset;
    }
  }

  &Initial {
    font-size: 2rem;
    line-height: 2.8rem;

    @include media-breakpoint-down(lg) {
      font-size: 1.4rem;
      line-height: 2.2rem;
      letter-spacing: -.02em;
      margin-left: .8rem;
    }
  }

  &Badge {
    display: flex;
    margin-left: .8rem;

    > *:not(:last-child) {
      margin-right: .8rem;
    }
  }

}


.variant {

  &QuickView {
    height: 4rem;
  }
}

.skeleton {
  width: 100%;
  min-height: 4.8rem;
}
