@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}

.containerHeader {
  margin-bottom: 5.6rem;
  width: 100%;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.9rem;
  letter-spacing: -.01em;
  color: $color-title;
  text-align: center;

  @include media-breakpoint-down(lg) {
    margin-bottom: 1.7rem;
    text-align: left;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.paddingBottom {
  padding-bottom: 8rem;
}

.disablePadding {
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-down(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}
