@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.wrapper {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    width: 100%;
    background-color: $color-light-3;
    border-radius: 4px;
    padding: .6rem;
    justify-content: center;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  display: block;
  margin-right: .4rem;
}

.text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -.02em;
}

.loading {
  opacity: .4;
}

.success {
  display: flex;
  align-items: center;
  color: $color-primary;

  @include media-breakpoint-down(lg) {
    width: 100%;
    background-color: $color-light-3;
    border-radius: 4px;
    padding: .6rem;
    justify-content: center;
  }
}