@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: 1.2rem;
  }
}

.skeleton {
  width: 40%;
  min-height: 3.9rem;
  margin-bottom: 2.4rem;
}
