@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";


.wrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: $color-light;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 16px rgba(169, 169, 169, .3);
  border-radius: 0 8px 8px 0;
  transition: opacity .3s ease-in-out;

  @include media-breakpoint-up(lg) {
    height: 4.4rem;
  }

  @include media-breakpoint-down(lg) {
    height: 3.2rem;
  }

  &.isVisible {
    opacity: 1;
    visibility: visible;
  }

  &.isOpen {
    width: 100%;
    border-radius: 0;

    .list {
      display: flex;
    }
  }
}

.list {
  align-items: center;
  height: 100%;
  display: none;
  padding: 0 3.2rem;
  border-left: 1px solid $color-light-5;
  overflow: auto;

  @include hide-scrollbar;

  @include media-breakpoint-down(lg) {
    padding: 0 2.4rem;
  }
}

.item {
  position: relative;
  height: 100%;
  display: inline-flex;
  color: $color-tertiary-text-3;
  font-size: 1.4rem;
  letter-spacing: -.02em;
  line-height: 2.2rem;
  align-items: center;
  white-space: nowrap;

  @include media-breakpoint-up(lg) {
    &:hover {
      color: $color-secondary-text-2;
    }
  }

  &:not(:last-child) {
    margin-right: 2.4rem;
  }

  &.isActive {
    color: $color-secondary-text-2;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $color-secondary;
      border-radius: 8px;
    }
  }
}

.close {
  display: flex;
  flex-direction: row-reverse;
  grid-gap: .4rem;
  align-items: center;
  text-transform: uppercase;
  color: #828282;

  @include media-breakpoint-up(lg) {
    padding: 1.3rem 2rem;
  }

  @include media-breakpoint-down(lg) {
    padding: 1.3rem 1.2rem;
  }

  &Icon {
    width: .8rem;
    height: .8rem;
    transform: rotate(0);
    color: #828282;
    transition: transform .3s;
  }

  &Title {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.isOpen {

  .close {
    flex-direction: row;
    color: $color-darkblue-2;

    &Icon {
      transform: rotate(180deg);
      color: $color-darkblue-2;
    }
  }

}
