@import "src/styles/mixins";
@import "src/styles/vars";

@mixin local-commercial-status($font-size: 1.2rem, $icon-size: 1.8rem, $margin: .8rem, $letter-spacing: -.02em) {
  .text {
    font-size: $font-size;
    letter-spacing: $letter-spacing;
  }

  .icon,
  button {
    width: $icon-size;
    height: $icon-size;
    margin-left: $margin;
  }
}

.wrapper {
  text-transform: uppercase;
  color: $color-tertiary-text-3;
}

.text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  margin-left: .4rem;

  @include media-breakpoint-down(lg) {
    margin-left: .8rem;
  }
}


.variant {

  &Small {

  }

  &Medium {

  }

  &Large {
    @include media-breakpoint-up(lg) {
      @include local-commercial-status(1.2rem, 1.8rem, .4rem, .01em)
    }
    @include media-breakpoint-down(lg) {
      @include local-commercial-status(1rem, 1.8rem, .8rem, .01em)
    }
  }

  &Grid {
    @include media-breakpoint-up(lg) {
      @include local-commercial-status(1.2rem, 1.8rem, .8rem, .01em)
    }
    @include media-breakpoint-down(lg) {
      @include local-commercial-status(1rem, 1rem, .4rem);
    }
  }

  &List {
    @include media-breakpoint-up(lg) {
      @include local-commercial-status(1.2rem, 1.8rem, .8rem, .01em)
    }
    @include media-breakpoint-down(lg) {
      @include local-commercial-status(1rem, 1rem, .4rem, .01em);
    }
  }

  &Microsite {
    @include media-breakpoint-up(lg) {
      @include local-commercial-status(1.2rem, 1.8rem, .8rem, .01em)
    }
    @include media-breakpoint-down(lg) {
      @include local-commercial-status(1rem, 1.8rem, .8rem, .01em);
    }
  }

  &Compare {

  }

}
