@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.wrapper {
  display: flex;
  align-items: center;
  background-color: $color-light-11;
  border: 1px solid rgba(249, 186, 73, .25);
  border-radius: .4rem;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  margin-left: auto;

  @include media-breakpoint-down(lg) {
    margin-top: .8rem;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}


.item {

}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  color: $color-secondary-text-2;
}

.title {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  margin-left: .8rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: .2rem;
  }
}

.arrow {
  width: 2.4rem;
  height: 2.4rem;
  color: $color-secondary-text-2;
}

.description {
  color: $color-tertiary-text-3;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.variant {

  &Default {

  }

  &QuickView {
    flex-direction: column;
    margin: unset;
    align-items: flex-start;

    .description {
      padding-left: 3.2rem;
    }

  }

}

.skeleton {
  width: 100%;
  min-height: 5.6rem;
  margin-top: 1.2rem;

  @include media-breakpoint-down(lg) {
    min-height: 6.6rem;
    margin-top: .8rem;
  }
}
