@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  max-width: 74.8rem;
}

.tooltip {
  color: $color-tertiary-text-3;

  @include media-breakpoint-down(lg) {
    display: inline-block;
    vertical-align: bottom;
  }
}
