@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {
  text-align: center;
}

.title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.01em;
  color: $color-title;
  font-weight: 400;
  margin-bottom: .4rem;
}

.text {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.02em;
  color: $color-secondary-text-2;
  margin-bottom: 1.6rem;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.item {
  flex: 1;
  box-shadow: 0 2px 6px rgba(204, 208, 210, .4);
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2.5rem 1% 1%;
  max-width: 50%;

  &::before {
    content: '';
    padding-bottom: 100%;
    width: 100%;
    display: block;
  }
}

.itemImage {
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
}

.control {
  width: 100%;
  display: flex;
  padding: 0 2rem 2rem 2rem;
}

.btn {
  flex: 1;
  padding: 1rem;
  background-color: $color-primary;
  color: $color-light;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -.02em;
  text-align: center;
  border-radius: .4rem;

  &[disabled] {
    background-color: #AFB3B9;
  }
}

.itemIcon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  bottom: calc(100% + .5rem);
  right: 0;
  color: $color-tertiary-text-3;
}
