@import "src/styles/mixins";
@import "src/styles/vars";

.wrapper {

}

.modal {
  max-width: 62.1rem;
  width: 100%;

  @include media-breakpoint-down(lg) {
    padding: 0 2rem 2rem;
  }
}

.header {
  margin-bottom: .8rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
    margin-top: .8rem;
  }
}

.headerTitle {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -.01em;
  }
}

.card {
  margin-bottom: 1.6rem;
  position: relative;

  @include media-breakpoint-down(lg) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      border-bottom: 1px solid $color-light-5;
      @include minus-margin-horizontal(2rem, true);
    }
  }
}

.input {
  margin-bottom: 1.2rem;
}

.inputText {
  margin-bottom: 1.2rem;
}

.button {
  padding: 1.2rem 3.2rem;
  height: auto;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}
