@import "src/styles/_mixins";
@import "src/styles/_vars";

.wrapper {

}


.variant {

  &Default {
    background-color: $color-light;
    padding: 5.2rem 0;

    @include media-breakpoint-down(lg) {
      padding: 4rem 0;
    }
  }

  &Primary {
    background-color: $color-light-3;
    padding: 5.2rem 0;

    @include media-breakpoint-down(lg) {
      padding: 3.2rem 0 4rem;
    }
  }

  &PaddingTop {
    padding: 5.2rem 0 0 0;
  }

  &LargePadding {
    padding: 8rem 0;
  }

  &LargePaddingTop {
    padding: 8rem 0 0 0;

    @include media-breakpoint-down(lg) {
      padding: 4rem 0 0 0;
    }
  }

  &LargePaddingBottom {
    padding: 0 0 8rem 0;
  }

}
