@import "src/styles/_mixins";
@import "src/styles/_vars";

.checkboxWrapper {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 1.2rem;
    }
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.checkbox {
    display: block;
    position: relative;
    padding: 0 0 0 3.2rem;
    cursor: pointer;

    svg {
        width: 2.4rem;
        height: 2.4rem;

        &:not(:last-child) {
            margin-right: .4rem;
        }
    }

    &.mobileType {
        padding: 1.3rem 2.6rem 1.3rem 0;
        border-bottom: 1px solid $color-light-5;
    }

    &.active {
        color: $color-light;
        background-color: $color-darkblue-2;
    }
}

.display {
    position: absolute;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    left: .4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    background-color: $color-light;
    border: 2px solid $color-light-5;
    border-radius: 3px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        background: url('../../../assets/icons/checkboxCheck.svg') center/contain no-repeat;
        opacity: 0;
    }
}

.checkbox.mobileType .display {
    left: initial;
    right: .3rem;
}

.isChecked,
.input:checked ~ .checkbox {
    .display {
        border-color: $color-primary;

        &::before {
            opacity: 1;
        }
    }
}

.title {
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.02em;
    display: flex;
    align-items: center;
    color: $color-secondary-text-2;
}

.checkboxWrapper {
    display: flex;
    align-items: center;

    svg {
        path {
            fill: $color-tertiary-text-3;
        }
    }
}


// VARIANT's
.variant {
    &Default {

    }

    &Filter {

    }

    &List {
        display: flex;
        width: 100%;
        padding-left: 0;
        padding-bottom: 1.6rem;
        padding-top: 1.6rem;
        margin-bottom: 0;
        border-bottom: .1rem solid #E3E4E7;

        .checkbox {
            padding-left: 0;
            width: 100%;
        }

        .display {
            left: unset;
            right: 0;

        }
    }

    &Touch {
        padding: 0;
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {

            &:not(:last-child) {
                margin-bottom: 0;
            }

            &:not(:first-child) {
                margin-left: .8rem;
            }
        }

        .title {
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: -.02em;
            white-space: nowrap;
        }

        .display {
            display: none;
        }

        .checkbox {
            border: 1px solid $color-light-5;
            padding: .8rem 1.6rem;
            border-radius: 4px;
        }

        &.isChecked,
        .input:checked ~ {
           .checkbox {
               background-color: $color-darkblue-2;
           }

            .title {
                color: $color-light;
            }
        }
    }

}
